<!DOCTYPE html>
<html lang="en" class="night-style">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="/static/home/css/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/home/css/style.css">
    <link rel="stylesheet" href="/static/home/layui/css/layui.css">
	<style type="text/css">
		.hc-color4 button{color: #8488f5;background: transparent;border: none;}
	</style>
</head>
<body>
<div style="width: 100%; margin: 0px auto; min-height: 500px;">
    <div data-v-7840a0c9="" class="retrieve-night-warp">
        <div data-v-7840a0c9="" class="retrieve-div">
            <div data-v-7840a0c9="" class="retrieve-main hc-bgColor2">
                <div data-v-7840a0c9="" style="margin-left: 60px;">
                    <div data-v-7840a0c9="" class="login-div4">找回登录密码</div>
                    <form action="" class="layui-form">
                        <div data-v-7840a0c9="">
                            <div data-v-7840a0c9="" class="login-form">
                                <div data-v-7840a0c9="" class="login-div5 hc-color3">账号</div>
                                <div data-v-7840a0c9="">
                                    <!--<input data-v-7840a0c9="" placeholder="请输入您的登录账号" id="retrevePwd" class="login-input">-->
                                    <input data-v-7840a0c9="" type="text" name="mobile" id="retrevePwd"
                                           lay-verify="require|phoneEmail"
                                           class="login-input" placeholder="请输入您的登录账号" autocomplete="off">
                                </div>
                            </div>
                            <div data-v-7840a0c9=""  class="login-form">
                                <div data-v-7840a0c9=""  class="login-div5 hc-color3">验证码</div>
                                <div data-v-7840a0c9="" >
                                    <input data-v-7840a0c9=""  type="code" placeholder="验证码" lay-verify="require|validateCode" name="input-name" class="login-input">
                                </div>
                                <div data-v-7840a0c9=""  class="hc-color4 login-div6"><button type="button" data-v-f7be4836="" class="numbtn">获取验证码</button></div>
                            </div>
                            <div data-v-7840a0c9="" class="hc-color"
                                 style="display: inline-block; margin-top: 80px; font-size: 12px; width: 230px;">
                            </div>
                            <button data-v-7840a0c9="" type="button" lay-submit="" lay-filter="demo1" class="el-button login-logbtn el-button--warning">

                                <span><span data-v-7840a0c9="">确定</span></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/static/home/js/jQuery-2.2.3.min.js"></script>
<script src="/static/home/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form, layer = layui.layer
        //自定义验证规则
        form.verify({

            phoneEmail: function (value) {
                var result = phoneEmail(value);
                if (result != "num") {
                    return result;
                }
            },

            validateCode: function (value) {
                var result = validateCode(value);
                if (result != "CODE") {
                    return result;
                }
            }


        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            // layer.msg('验证通过', {time: 1000}, function () {
            //     // $(".dialog_pwd").hide()
            // })
            var loading = layer.load(2, {shade: [0.1, '#fff']});
            $.post("{:url('retrieve')}",data.field,function(res){
                layer.close(loading);
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = "{:url('user/login/index')}";
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });

        })
    });


    /**
     * 账号
     * @param id
     * @returns {*}
     */
    function phoneEmail(id) {
        var _id = id;
        var PReg = /^1[3|4|5|7|8]\d{9}$/;
        if (PReg.test(_id)) {
            return "num"
        }
        return "手机号码不正确!"
    }




    /**
     * 验证码     *
     * */
    function validateCode(code) {
        if (code !== "") {
            return "CODE"
        }
        return "验证码不能为空";
    }
</script>
<script>
    //获取验证码
    var countdown = 60;
    $('.numbtn').on('click', function () {
        var obj = $(".numbtn");
        var mobile = $('#retrevePwd').val();
        var result = phoneEmail(mobile);
        if (result != "num") {
            layer.msg(result,{time:1000,icon:2});
            return ;
        }

        $.post('{:url("mobileSms")}',{mobile:mobile},function(res){
            if(res.code === 0){
                layer.msg(res.msg,{time:1000,icon:2});
            }
        });

        settime(obj);
    })

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled', false);
            //obj.removeattr("disabled");
            obj.html("免费获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled', true);
            obj.html("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
            settime(obj)
        }, 1000)
    }
</script>
</div>
</body>
</html>