{include file="common/header"/}
<body  style="background: #f2f3f8;">
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mui-text-bai" href="javascript:;"></a>
    <h1 class="mui-title mui-text-bai">财务管理</h1>
</header>
<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
    <div class="mui-scroll">
        <div class="mui-table-view mui-table-view-chevron mui-zhuanchu mui-usercenter">

            <div class="mui-usercenter-c">
                <ul class="mui-table-view bg-zong">
                    <li class="mui-table-view-cell">
                        <a href="{:url('runningAccount')}" class="mui-navigate-right zi-zong"><img src="" alt=""> 财务流水</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="{:url('currencyConversion')}" class="mui-navigate-right zi-zong"><img src="" alt=""> 币种转换</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="{:url('applyCash')}" class="mui-navigate-right zi-zong"><img src="" alt=""> 申请提现</a>
                    </li>

                    <li class="mui-table-view-cell">
                        <a href="{:url('toAmeibiList')}" class="mui-navigate-right zi-zong"><img src="" alt="" > 动态奖转阿美币动态列表</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="{:url('corpusConvert')}" class="mui-navigate-right zi-zong"><img src="" alt="" > 本金转换</a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a href="{:url('aMeibiLogList')}" class="mui-navigate-right zi-zong"><img src="" alt="" > 阿美币记录列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


{include file="common/footer"/}

<script type="text/javascript" charset="utf-8">
    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                style:'circle',
                callback: pulldownRefresh
            }
        }
    });
    function pulldownRefresh() {
        setTimeout(function() {
            window.location.reload()
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
        }, 1500);
    }


</script>