<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>财务流水</title>

    <link href="/static/mobilenew/css/mui.min.css" rel="stylesheet">
    <link href="/static/mobilenew/css/swiper-3.4.2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mobilenew/css/icons-extra.css" />
    <link rel="stylesheet" type="text/css" href="/static/mobilenew/css/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/mobilenew/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/mobilenew/css/index.css">
    <style type="text/css">
        .mui-pull-bottom-pocket{bottom: 0px;}
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mui-text-bai" href="javascript:;"></a>
    <h1 class="mui-title mui-text-bai">财务流水</h1>
</header>
<div class="mui-content mui-scroll-wrapper " id="pullrefresh">
    <div class="mui-scroll">

        <div class="mui-table-view mui-table-view-chevron mui-chezi "  >
            <div class="swiper-container mui-fenlei">
                <div class="swiper-wrapper mui-text-center">
                    <div class="swiper-slide swiper-slide-actives"><a href="">沙特链</a></div>
                    <div class="swiper-slide"><a href="">激活钱包</a></div>
                    <div class="swiper-slide">消费钱包</div>
                    <div class="swiper-slide">交易账号</div>
                    <div class="swiper-slide">本金账户</div>

                </div>
            </div>
            <div class="mui-control-content mui-team mui-active">
                <div class="bg-zong">
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">用户:用户</div>
                        <div class="flex-item mui-ellipsis ">相关用户:公司</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">流水类型:现金币转换阿美币</div>
                        <div class="flex-item mui-ellipsis ">变更数量:-10.0000</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">余额:574.0000</div>
                        <div class="flex-item mui-ellipsis ">备注:提现</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">流水时间:2019-20-15 20：15：33</div>

                    </div>
                </div>
                <div class="bg-zong">
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">用户:用户</div>
                        <div class="flex-item mui-ellipsis ">相关用户:公司</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">流水类型:直推奖</div>
                        <div class="flex-item mui-ellipsis ">变更数量:-10.0000</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">余额:574.0000</div>
                        <div class="flex-item mui-ellipsis ">备注:提现</div>
                    </div>
                    <div class="flex">
                        <div class="flex-item mui-ellipsis">流水时间:2019-20-15 20：15：33</div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script src="/static/mobilenew/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/swiper-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">


    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                style:'circle',
                callback: pulldownRefresh
            }
        }
    });

    function pulldownRefresh() {
        setTimeout(function() {

            window.location.reload()
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
        }, 1500);
    }
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        paginationClickable: true,
        spaceBetween: 30
    });


</script>

</body>

</html>