{include file="common2/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>阿美币记录列表</legend>
    </fieldset>

    <div class="layui-tab layui-tab-brief" lay-filter="userAccount">
        <ul class="layui-tab-title">
            <ul class="layui-tab-title">
                {foreach $currency_list as $k => $v }
                <li {if condition="$k eq '0'"}class="layui-this"{/if}>{$v['name']}</li>
                {/foreach}
            </ul>
        </ul>

        <div class="layui-inline layui-form" style="padding-top: 20px;">

            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="请输入关键字">

            </div>
            <button class="layui-btn" id="search"  value=""  data-type="reload">搜索</button>
        </div>


        <div class="layui-tab-content" style="height: 100px;">
            {foreach $currency_list as $key => $v }
            {if condition="$key eq '0'"}
            <div class="layui-tab-item layui-show">
                {else /}
                <div class="layui-tab-item">
                    {/if}
                    <input type="hidden" id="currency_id{$key}" value="{$v['id']}">
                    <table class="layui-table" id="table{$key}" lay-filter="table{$key}"></table>
                </div>
                {/foreach}

            </div>
        </div>
    </div>


    <script type="text/html" id="action">
        <a href="{:url('applyDetail')}?id={{d.id}}" class="layui-btn layui-btn-primary layui-btn-xs">查看备注</a>

    </script>

    <script type="text/html" id="color">
        {{# if(d.change_num > '0'){ }}
        <span style="color: green">{{d.change_num}}</span>
        {{# }else{ }}
        <span style="color: red">{{d.change_num}}</span>
        {{# } }}
    </script>

    <script type="text/html" id="topBtn">

</script>

    {include file="common2/foot"/}
    <script>
        layui.use(['table','form','laydate','element'], function() {
            var table = layui.table,form = layui.form, $ = layui.jquery, laydate = layui.laydate, element = layui.element;
            var cur_id;
            var type1;
            var show_table = function(_type){
                //获取对应表的币种id
                var currency_id = $("#currency_id"+_type).val();
                type1 = _type;
                cur_id = currency_id;
                table.render({
                    id: 'table'+_type,
                    elem: '#table'+_type,
                    url: '{:url("aMeibiLogList")}',
                    where: {'currency_id':currency_id},
                    method: 'post',
                    toolbar: '#topBtn',
                    page: true,
                    cols: [[
                        {checkbox:true,fixed: true},
                        {field: 'id', title: 'id', width: 100, fixed: true},
                        {field: 'fromuser', title: '用户', width: 200, fixed: true},
                        {field: 'aboutuser', title: '相关用户', width: 200, fixed: true},
                        {field: 'running_str', title: '流水类型', width: 200},
                        {field: 'mobile', title: '手机号', width: 200},
                        {field: 'en_name', title: '货币', width: 200},
                        {field: 'change_num', title: '变更数量', width: 200,templet:'#color'},
                        {field: 'create_time', title: '流水时间', width: 200},
                        {field: 'remark', title: '备注', width: 100},

                    ]],
                    limit: 10 //每页默认显示的数量
                });
            };


            //搜索
            $('#search').on('click', function() {
                var key = $('#key').val();

                if($.trim(key)==='') {
                    layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
                    return;
                }
                table.reload('table'+type1,{ page: {page: 1},where: {key: key,currency_id:cur_id}})
            });


            show_table(0);

            element.on('tab(userAccount)', function (data) {
                var index = data.index;
                $('#key'+index).val('');
                show_table(index);
            });

        });
    </script>
    </body>
    </html>