


<div data-v-22fe150c="" class="footer-main" style="">
    <div data-v-22fe150c="" class="footer-content">
        <div data-v-22fe150c="" class="el-row is-justify-center el-row--flex">

            <div data-v-22fe150c="" class="el-col el-col-5">
                <div data-v-22fe150c="" class="footer-title">
                    <div data-v-22fe150c="" class="div-bg" style="margin-left: -150px;">联系我们</div>
                    <div data-v-22fe150c="" class="div-li">
                        {$system['tel']} &nbsp;<span data-v-22fe150c="">&nbsp;</span>
                    </div>
                    <div data-v-22fe150c="" class="div-li">商务合作：{$system['email']}</div>
                </div>
            </div>
        </div>
        <div data-v-22fe150c="" class="footer-logo" style="width: 100%; margin-top: 100px;">
            <div data-v-22fe150c="" class="footer-line"></div>
            <div data-v-22fe150c="" style="float: left; width: 8%; text-align: center;">
                <img data-v-22fe150c="" src="{$system['logo']}"  style="margin-top: -50px;">
            </div>
            <div data-v-22fe150c="" class="footer-line"></div>
        </div>
        <div data-v-22fe150c="" style="clear: both;"></div>
        <div data-v-22fe150c="" class="footer-div1">{$system['name']}
            <span data-v-22fe150c=""  style="color: rgb(128, 128, 128);">|</span>
            {$system['url']}
        </div>

        <div data-v-22fe150c="" class="footer-div4">

            <div data-v-22fe150c="" class="footer-color" style="margin: 20px 3%;">
                风险提示:
                数字货币产品交易具有极高的风险(如：各国政策、预挖、暴涨暴跌、庄家操控、团队解散、技术缺陷等)。热币网仅为数字货币爱好者提供一个自由的网上交换平台，对币的投资价值不承担任何审查、担保、赔偿的责任，如果您不能接受，请不要进行交易！
            </div>
        </div>
    </div>
</div>
</body>
</html>