<!DOCTYPE html>
<html lang="en" class="night-style">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="/static/home/css/app.css">
    <link rel="stylesheet" href="/static/home/css/style.css">
    <link rel="stylesheet" href="/static/home/layui/css/layui.css">
    <script type="text/javascript" src="/static/home/js/jQuery-2.2.3.min.js"></script>

    <style>
        .header-main1 a{
            color:#ccc;
        }
        .header-main1 a:hover{
            color:#8488f5;
        }
        .header-ul2 a{
            color:#ccc;
        }
        .header-ul2 a:hover{
            color:#8488f5;
        }
        .el-popper a{
            color:#92a5eb
        }
        .el-popper a:hover{
            color:#8488f5;
        }
    </style>
</head>
<body>
<div data-v-5056b940=""><!---->
    <div data-v-5056b940="" class="header-main1">
        <div data-v-5056b940="" class="header-main-warp">
            <img data-v-5056b940=""
                 src="{$system['logo']}"
                 class="header-logo">
            <ul data-v-5056b940="" class="header-ul">
                <li data-v-5056b940="" class="">
                    <a href="{:url('home/index/index')}">首页</a>
                </li>
                <li data-v-5056b940="" class="">
                    <a href="{:url('home/user/tradeOrder')}">我的成交</a>
                </li>
                <li data-v-5056b940="" class="">
                    <a href="{:url('home/user/currencyExchange')}">交易大厅</a>
                </li>
                <!--<li data-v-5056b940="" class="">-->
                <!--<a href="#">矿池理财</a>-->
                <!--</li>-->
            </ul>
            {if empty($user) }
            <!-- todo 未登录 -->
            <ul data-v-5056b940="" class="header-ul2">
                <li data-v-5056b940="" class="">
                    <a href="{:url('user/login/index')}">登录</a>
                </li>
                <li data-v-5056b940="" style="margin: 0px 4px; color: rgb(113, 113, 113);">|</li>
                <li data-v-5056b940="" class=""><a href="{:url('user/login/reg')}">注册</a></li>
                <li data-v-5056b940="" class="header-media">
                    <i data-v-5056b940="" class="fa fa-gear"></i>
                </li>
            </ul>
            {else /}
            <!--TODO 未登录 end-->
            <!--已登录-->
            <ul data-v-5056b940="" class="header-ul2" style="display: block">
                <!--todo 资产 -->
                <li data-v-5056b940="" class="Assets">
                    <div data-v-5056b940="" class="el-dropdown">
                        <span data-v-5056b940="" class="el-dropdown-link el-dropdown-selfdefine" aria-haspopup="list"
                              aria-controls="dropdown-menu-8616" role="button" tabindex="0">
                            <i data-v-5056b940="" class="fa fa-credit-card"
                               style="margin-right: 10px; font-size: 15px;"></i>
                            资产
                            <i data-v-5056b940="" class="fa fa-caret-down" style="margin-left: 10px;"></i>
                        </span>
                        <ul data-v-5056b940="" class="el-dropdown-menu el-popper" id="dropdown-menu-8616"
                            style="display: none; min-width: 106px;">
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <a href="{:url('home/user/withdrawCash')}">交易账户提现</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--todo 资产 end -->
                <!--todo 订单-->
                <li data-v-5056b940="" class="Order">
                    <div data-v-5056b940="" class="el-dropdown">
                        <span data-v-5056b940="" class="el-dropdown-link el-dropdown-selfdefine" aria-haspopup="list"
                              aria-controls="dropdown-menu-5763" role="button" tabindex="0">
                            <i data-v-5056b940="" class="fa fa-file-text-o" style="margin-right: 7px;"></i>
                            <span data-v-5056b940="" class="">
                                订单
                                <i data-v-5056b940="" class="fa fa-caret-down" style="margin-left: 10px;"></i>
                            </span>
                        </span>
                        <ul data-v-5056b940="" class="el-dropdown-menu el-popper" id="dropdown-menu-5763"
                            style="display: none; min-width:103px;">
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <a href="{:url('home/user/entrustment')}">当前委托</a>
                            </li>
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <a href="{:url('home/user/historical')}">历史委托</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--todo 订单 end-->
                <!-- todo 个人中心-->
                <li data-v-5056b940="" class="Personal">
                    <div data-v-5056b940="" class="el-dropdown">
                        <span data-v-5056b940="" class="el-dropdown-link el-dropdown-selfdefine" aria-haspopup="list"
                              aria-controls="dropdown-menu-5309" role="button" tabindex="0">
                            {$user.nickname}
                            <i data-v-5056b940="" class="fa fa-caret-down" style="margin-left: 10px;"></i>
                        </span>
                        <ul data-v-5056b940="" class="el-dropdown-menu el-popper" id="dropdown-menu-5309"
                            style="display: none; min-width: 150px;">
                            <!--<li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">-->
                                <!--<i data-v-5056b940="" class="fa fa-user-plus header-icon"></i>-->
                                <!--<a href="{:url('home/user/ic')}"> 我的邀请码</a>-->
                            <!--</li>-->
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <i data-v-5056b940="" class="fa fa-street-view header-icon"></i>
                                <a href="{:url('user/index/index')}">商户中心</a>
                            </li>
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <i data-v-5056b940="" class="fa fa-unlock-alt header-icon"></i>
                                <a href="{:url('user/set/security')}">账号安全</a>
                            </li>
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <i data-v-5056b940="" class="fa fa-tasks header-icon"></i>
                                <a href="{:url('user/set/setup')}">个人设置</a>
                            </li>
                            <li data-v-5056b940="" tabindex="-1" class="el-dropdown-menu__item">
                                <i data-v-5056b940="" class="fa fa-sign-out header-icon"></i>
                                <a href="{:url('user/index/logout')}">退出</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- todo 个人中心 end-->
            </ul>
            <!-- TODO 已登录end -->
            {/if}
        </div>
    </div>
</div>
<script src="/static/home/js/jQuery-2.2.3.min.js"></script>
<script>
    /**
     * 交易下拉
     * */
    $(".trade").mouseout(function () {
        $("#dropdown-menu-9040").fadeIn(500)
    })
    $(".trade").mouseleave(function () {
        $("#dropdown-menu-9040").hide()
    })
    /**
     * 资产
     * Assets
     * */
    $(".Assets").mouseout(function () {
        $("#dropdown-menu-8616").fadeIn(500)
    })
    $(".Assets").mouseleave(function () {
        $("#dropdown-menu-8616").hide()
    })
    /**
     * Order
     * 订单
     * */
    $(".Order").mouseout(function () {
        $("#dropdown-menu-5763").fadeIn(500)
    })
    $(".Order").mouseleave(function () {
        $("#dropdown-menu-5763").hide()
    })
    /**
     * Personal
     * 个人中心
     * */
    $(".Personal").mouseout(function () {
        $("#dropdown-menu-5309").fadeIn(500)
    })
    $(".Personal").mouseleave(function () {
        $("#dropdown-menu-5309").hide()
    })
</script>
</body>
</html>