{include file="common2/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>未激活用户列表</legend>
    </fieldset>
    <div class="demoTable">
        <div class="layui-inline">

            <div class="layui-inline">
                <input type="text" name="start_date" id="start_time" lay-verify="date" placeholder="开始时间" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-inline">
                <input type="text" name="end_date" id="end_time" lay-verify="date" placeholder="结束时间" autocomplete="off" class="layui-input">
            </div>

        </div>
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="请输入关键字">

        </div>
        <button class="layui-btn" id="search" data-type="reload">搜索</button>
        <a href="{:url('notActivate')}" class="layui-btn">显示全部</a>

    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<script type="text/html" id="topBtn">

</script>
<script type="text/html" id="action">
    <a href="{:url('userActive')}?id={{d.id}}" class="layui-btn layui-btn-xs">激活</a>
    <a href="#" class="layui-btn layui-bg-orange layui-btn-xs" lay-event="del">删除</a>
</script>
{include file="common2/foot"/}
<script>
    layui.use(['table','form','laydate'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery, laydate = layui.laydate;

        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("notActivate")}',
            method: 'post',
            toolbar: '#topBtn',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                {field: 'id', title: 'id', width: 50, fixed: true},
                {field: 'usernum', title: '会员编号', width: 100, fixed: true},
                {field: 'username', title: '用户名', width: 100, fixed: true},
                {field: 'referee', title: '推荐人', width: 200, fixed: true},
                {field: 'contact_person', title: '接点人', width: 200},
                {field: 'baodan_user', title: '所属报单中心', width: 150},
                {field: 'reg_time', title: '注册时间', width: 160},
                {title:'操作', width: 300, align: 'center', toolbar: '#action'}
            ]],
            limit: 10 //每页默认显示的数量
        });

        //搜索
        $('#search').on('click', function() {
            var start_time = $('#start_time1').val();
            var end_time = $('#end_time1').val();
            var key = $('#key').val();
            tableIn.reload({page: {page: 1},where: {key:key,start_time: start_time,end_time:end_time}});
        });
        // 执行一个laydate实例
        laydate.render({
            elem: '#start_time' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end_time' //指定元素
        });

        //删除会员
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('您确定要删除该会员吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('usersDel')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });



    });
</script>
</body>
</html>