{include file="common2/head"/}

<div class="admin-main layui-anim layui-anim-upbit">
    <blockquote class="layui-elem-quote">复投最少{$origin_num}枚可投</blockquote>

    <form class="layui-form " lay-filter="form">

        <fieldset class="layui-elem-field layui-field-title">
            <div class="layui-field-box">

                <div class="layui-form-item">
                    <label class="layui-form-label">现金币(余额)</label>
                    <div class="layui-input-4 layui-inline">
                        <input type="text" name="cash_currency_num" placeholder="" class="layui-input" disabled value="{$cash_currency_num}">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">现金币(可用)</label>
                    <div class="layui-input-4">
                        <input type="text" name="can_use_num"  id="can_use_num" placeholder="" disabled class="layui-input" value="{$can_use_num}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">复投数量</label>
                    <div class="layui-input-4">
                        <input type="text" name="cash_input_num" lay-verify="cash_input_num" placeholder="" class="layui-input">
                    </div>
                </div>

            </div>
        </fieldset>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                <a href="{:url('originReset')}" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>

</div>

{include file="common2/foot"/}
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, layer = layui.layer,$= layui.jquery;
        var origin_num = {$origin_num};
        form.verify({
            cash_input_num : function (value, item) { //手机验证可以直接采用lay-verify
                if(value.length < 1){
                    return '复投数量不能为空';
                }
                if(Number(value) < origin_num){
                    return '复投数量不能小于'+origin_num+'个';
                }
                var can_use_num = $('#can_use_num').val();
                if(Number(value) > Number(can_use_num)){
                    return '复投数量不能大于可用数量';
                }
            }
        });


        //提交表单
        form.on('submit(submit)', function (data) {
            var loading = layer.load(2, {shade: [0.1,'#fff']});

            $.post('{:url("originReset")}', data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        })



    });
</script>