<nav class="mui-bar mui-bar-bottom " >
    <a class="mui-tab-item " href="index.html">
        <span class="mui-icon fa fa-line-chart"></span>
        <span class="mui-tab-label">行情</span>
    </a>
    <a class="mui-tab-item mui-active" href="{:url('mobile/trade/index')}">
        <span class="mui-icon fa fa-bitcoin" ></span>
        <span class="mui-tab-label">交易大厅</span>
    </a>

    <a class="mui-tab-item" href="{:url('mobile/wallet/index')}">
        <span class="mui-icon fa fa-archive" ></span>
        <span class="mui-tab-label">我的资产</span>
    </a>
    <a class="mui-tab-item" href="{:url('mobile/user/index')}">
        <span class="mui-icon fa fa-user" ></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>