{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>信息列表</legend>
    </fieldset>

    <div class="layui-tab layui-tab-brief" lay-filter="userMessage" >
        <ul class="layui-tab-title">
            <li {if condition="$type == 1"}class="layui-this"{/if}>发件箱</li>
            <li {if condition="$type == 2"}class="layui-this"{/if}>收件箱</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item" id="form1">
                <table class="layui-table" id="table1" lay-filter="table1"></table>
            </div>
            <div class="layui-tab-item" id="form2">

                <table class="layui-table" id="table2" lay-filter="table2"></table>

            </div>

        </div>
    </div>


</div>

<script type="text/html" id="action">
    <a href="{:url('lookUp')}?id={{d.id}}&type={$type}" class="layui-btn  layui-btn-xs">查看</a>
</script>

<script type="text/html" id="topBtn">

</script>

{include file="common/foot"/}
<script>
    layui.use(['table','form','laydate','element'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery, laydate = layui.laydate, element = layui.element;
        var type = {$type};
        $(function () {
            var type = {$type};
            if(type == 1){
                $("#form1").addClass("layui-show");
                $("#form2").removeClass("layui-show");
            }else{
                $("#form2").addClass("layui-show");
                $("#form1").removeClass("layui-show");
            }

        });

        var show_table = function(_type){
            table.render({
                id: 'table'+_type,
                elem: '#table'+_type,
                url: '{:url("messageList")}',
                where: {'type':_type},
                method: 'post',
                toolbar: '#topBtn',
                page: true,
                cols: [[
                    {checkbox:true,fixed: true},
                    {field: 'id', title: 'id', width: 100, fixed: true,hide:true},
                    {field: 'read_str', title: '信息状态', width: 100, fixed: true},
                    {field: 'title', title: '标题', width: 200, fixed: true},
                    {field: 'from_user', title: '发件人', width: 150},
                    {field: 'to_user', title: '收件人', width: 150},
                    {field: 'create_time', title: '时间', width: 150},
                    {title:'操作', width: 200, align: 'center', toolbar: '#action'}
                ]],
                limit: 10 //每页默认显示的数量
            });
        };


        show_table(type);

        element.on('tab(userMessage)', function (data) {
            if(data.index == 0) {
                // $('#key1').val('');
                // $('#start_time1').val('');
                // $('#end_time1').val('');
                // $('#status1').val('');
                show_table(1);
            }else if(data.index == 1){
                show_table(2);
            }
        });

    });
</script>
</body>
</html>