<!DOCTYPE html>
<html lang="en" class="night-style">
<head>
    <meta charset="UTF-8">
    <title>我的邀请码</title>
    <link rel="stylesheet" href="/static/home/css/app.css">
    <link rel="stylesheet" href="/static/home/css/style.css">
</head>
<body>

<div>

    <div style="width: 100%; margin: 0px auto; min-height: 500px;">
        <div data-v-04fabd82="" class="ic-main">
            <div data-v-04fabd82="" class="commission global-width">
                <div data-v-04fabd82="" class="header">
                    <div data-v-04fabd82="" class="title">
                        <div data-v-04fabd82="" class="title-top" style="color: rgb(255, 255, 255);">Hotcoin超级返佣</div>
                        <div data-v-04fabd82="" class="title-bottom">邀请好友交易，轻松获得 20% 返佣</div>
                    </div>
                    <div data-v-04fabd82=""><!---->
                        <div data-v-04fabd82="" class="medal-center hc-bgColor4">
                            <div data-v-04fabd82="" class="medal-one">
                                <img src="/static/home/images/one.png" alt="">
                            </div>
                            <div data-v-04fabd82="" class="medal-two hc-color3"><span data-v-04fabd82="">账号：</span><span
                                    data-v-04fabd82="" class="medal-font hc-color7">158****2345</span></div>
                            <div data-v-04fabd82="" class="medal-three hc-color3"><span
                                    data-v-04fabd82="">返佣折合：</span><span data-v-04fabd82=""
                                                                         class="medal-font hc-color7">673.1741</span>
                            </div>
                        </div> <!----></div>
                    <div data-v-04fabd82="">
                        <div data-v-04fabd82="" class="medal-left hc-bgColor1">
                            <div data-v-04fabd82="" class="medal-one">
                                <img src="/static/home/images/two.png" alt="">
                            </div>
                            <div data-v-04fabd82="" class="medal-two hc-color3"><span data-v-04fabd82="">账号：</span><span
                                    data-v-04fabd82="" class="medal-font hc-color7">182****5555</span></div>
                            <div data-v-04fabd82="" class="medal-three hc-color3"><span
                                    data-v-04fabd82="">返佣折合：</span><span data-v-04fabd82=""
                                                                         class="medal-font hc-color7">639.3701</span>
                            </div>
                        </div> <!----> <!----></div>
                    <div data-v-04fabd82=""><!----> <!---->
                        <div data-v-04fabd82="" class="medal-right hc-bgColor1">
                            <div data-v-04fabd82="" class="medal-one">
                                <img src="/static/home/images/Three.png" alt="">
                            </div>
                            <div data-v-04fabd82="" class="medal-two hc-color3"><span data-v-04fabd82="">账号：</span><span
                                    data-v-04fabd82="" class="medal-font hc-color7">189****5658</span></div>
                            <div data-v-04fabd82="" class="medal-three hc-color3"><span
                                    data-v-04fabd82="">返佣折合：</span><span data-v-04fabd82=""
                                                                         class="medal-font hc-color7">591.0929</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div data-v-04fabd82="" class="my-invitation">

                <div data-v-04fabd82="" class="my-invitation-share-content hc-bgColor1">
                    <div data-v-04fabd82="" class="share-content-first">
                        <div data-v-04fabd82="" class="posters-font hc-color3">专属二维码海报</div>
                        <button data-v-04fabd82="" type="button"
                                class="el-button posters-btn el-button--warning el-button--default btn"><!----><!----><span>选择专属海报
        </span></button>
                    </div>
                    <div data-v-04fabd82="" class="share-content-second" style="margin-left: 30px;">
                        <div data-v-04fabd82="" class="posters-font hc-color3" style="padding-left: 0px;">
                            专属邀请码
                        </div>
                        <div data-v-04fabd82="" class="find-form hc-bgColor5">
                            <div data-v-04fabd82="">
                                <span data-v-04fabd82="" class="find-input">
                                    <input data-v-04fabd82="" id="inviterCode" readonly="readonly" style="border: none; width: 150px; font-size: 16px;">
                                </span>
                            </div>
                            <div data-v-04fabd82="" style="padding-top: 16px;">
                                <div data-v-04fabd82="" class="find-div6 hc-color4">
                                    复制邀请码
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-04fabd82="" class="share-content-third" style="margin-left: 30px;">
                        <div data-v-04fabd82="" class="posters-font hc-color3" style="padding-left: 0px;">
                            专属注册链接
                        </div>
                        <div data-v-04fabd82="" class="find-form hc-bgColor5" style="width: 620px;">
                            <div data-v-04fabd82="">
                                <span data-v-04fabd82="" class="find-input">
                                    <input data-v-04fabd82="" id="getHref" readonly="readonly" style="border: none; width: 475px; font-size: 16px;">
                                </span>
                            </div>
                            <div data-v-04fabd82="" style="padding-top: 16px;">
                                <div data-v-04fabd82="" class="find-div6 hc-color4" style="width: 104px;">
                                    复制链接分享
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-04fabd82="" class="data-content login-night-warp">
                <div data-v-04fabd82="" class="data-font">邀请总人数：0</div>
                <div data-v-04fabd82="" class="data-font">获得返佣： GAVC</div>
            </div>
            <div data-v-04fabd82="" class="div-list-main">
                <div data-v-04fabd82="">
                    <div data-v-04fabd82="" class="div1 hc-bgColor3">
                        <div data-v-04fabd82="" class="div-list-title-bg">邀请记录</div>
                        <div data-v-04fabd82="" class="ic-invitation-rf hc-color4" style="cursor: pointer;">
                            更多
                        </div>
                    </div>
                    <div data-v-04fabd82="" class="ic-bgwarp hc-bgColor1" style="padding: 0px 30px 30px; width: 390px;">
                        <div data-v-04fabd82="" class="el-table el-table--fit el-table--enable-row-hover" style="height: 530px;">
                            <div class="hidden-columns">
                                <div data-v-04fabd82=""></div>
                                <div data-v-04fabd82=""></div>
                            </div>
                            <div class="el-table__header-wrapper">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header"
                                       style="width: 390px;">
                                    <colgroup>
                                        <col name="el-table_1_column_1" width="195">
                                        <col name="el-table_1_column_2" width="195">
                                        <col name="gutter" width="0">
                                    </colgroup>
                                    <thead class="has-gutter">
                                    <tr class="">
                                        <th colspan="1" rowspan="1" class="el-table_1_column_1  is-left   is-leaf">
                                            <div class="cell">被邀请人账号</div>
                                        </th>
                                        <th colspan="1" rowspan="1" class="el-table_1_column_2  is-center   is-leaf">
                                            <div class="cell">注册时间</div>
                                        </th>
                                        <th class="gutter" style="width: 0px; display: none;"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="el-table__body-wrapper is-scrolling-none" style="height: 483px;">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body"
                                       style="width: 390px;">
                                    <colgroup>
                                        <col name="el-table_1_column_1" width="195">
                                        <col name="el-table_1_column_2" width="195">
                                    </colgroup>
                                    <tbody>
                                    <tr class="el-table__row">
                                        <td rowspan="1" colspan="1" class="el-table_1_column_5 is-left ">
                                            <div class="cell">

                                                <span data-v-c17e1774="" class="hc-select-span1">1123456789123</span>
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_5 is-center ">
                                            <div class="cell">2019-10-10 10:10:10</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--获取数据进行控制有无数据的显示-->
                                <div class="el-table__empty-block" style="width: 390px;">
                                    <span class="el-table__empty-text">暂无数据</span>
                                </div>
                            </div>
                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div data-v-04fabd82="">
                    <div data-v-04fabd82="" class="div1 hc-bgColor3" style="min-width: 730px; width: 730px;">
                        <div data-v-04fabd82="" class="div-list-title-bg">邀请返佣</div>
                        <div data-v-04fabd82="" class="ic-invitation-rf hc-color4" style="cursor: pointer;">
                            更多
                        </div>
                    </div>
                    <div data-v-04fabd82="" class="ic-bgwarp hc-bgColor1" style="padding: 0px 30px 30px; width: 670px;">
                        <div data-v-04fabd82="" class="el-table el-table--fit el-table--enable-row-hover" style="height: 530px;">
                            <div class="el-table__header-wrapper">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 670px;">
                                    <colgroup>
                                        <col name="el-table_2_column_3" width="224">
                                        <col name="el-table_2_column_4" width="223">
                                        <col name="el-table_2_column_5" width="223">
                                        <col name="gutter" width="0">
                                    </colgroup>
                                    <thead class="has-gutter">
                                    <tr class="">
                                        <th colspan="1" rowspan="1" class="el-table_2_column_3  is-center   is-leaf">
                                            <div class="cell">被邀请人账号</div>
                                        </th>
                                        <th colspan="1" rowspan="1" class="el-table_2_column_4  is-center   is-leaf">
                                            <div class="cell">交易时间</div>
                                        </th>
                                        <th colspan="1" rowspan="1" class="el-table_2_column_5  is-center   is-leaf">
                                            <div class="cell">佣金</div>
                                        </th>
                                        <th class="gutter" style="width: 0px; display: none;"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="el-table__body-wrapper is-scrolling-none" style="height: 483px;">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body"
                                       style="width: 670px;">
                                    <colgroup>
                                        <col name="el-table_2_column_3" width="224">
                                        <col name="el-table_2_column_4" width="223">
                                        <col name="el-table_2_column_5" width="223">
                                    </colgroup>
                                    <tbody>
                                    <tr class="el-table__row">
                                        <td rowspan="1" colspan="1" class="el-table_1_column_1 is-left ">
                                            <div class="cell">
                                                <span data-v-c17e1774="" class="hc-select-span1">123456789123</span>
                                            </div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_2 is-center ">
                                            <div class="cell">2019-10-10 10:10:10</div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_3 is-right ">
                                            <div class="cell"><span data-v-c17e1774="">0.001</span></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--获取数据进行控制有无数据的显示-->
                                <div class="el-table__empty-block" style="width: 670px;">
                                    <span class="el-table__empty-text">暂无数据</span>
                                </div>
                            </div>


                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-04fabd82="">
                <div data-v-04fabd82="" class="div-title-bg hc-bgColor3">活动细则</div>
                <div data-v-04fabd82="" class="div-text hc-color hc-bgColor1 global-width">
                    1、好友接受邀请后，每产生一笔真实交易手续费，会产生相应比例的返佣。<br data-v-04fabd82="">

                    2、返佣的形式以GAVC的形式返佣到您的交易账户，GAVC返佣比例为 20% 。 <br data-v-04fabd82="">

                    3、被邀请人交易时，邀请人实际获得的佣金将以等额的GAVC进行计算后返给邀请人。<br data-v-04fabd82="">

                    4、好友交易返佣当日统计，次日晚到账；返佣额（GAVC） = 实际产生交易量 * 手续费比例*返佣比例。<br data-v-04fabd82="">

                    5、邀请人享受好友交易返佣有效时长以被邀请人实际注册的时间开始进行计算，到达有效时长（90天）后您将不享受该邀请人交易产生手续费的返佣。<br data-v-04fabd82="">

                    6、平台将以被邀请人交易产生佣金时取一次市价进行相应币种的GAVC实时换算，返佣金额以实际返佣金额为准。<br data-v-04fabd82="">

                    7、开启榜单排行活动请以具体相关公告时间为准，榜单统计数据为活动开启到结束的数据。<br data-v-04fabd82="">

                    8、每日统计结算时间为：0 : 00，打款时间为次日晚十点前。<br data-v-04fabd82="">

                    9、充提币手续费，杠杆利息不参与手续费返佣。<br data-v-04fabd82="">

                    活动如有调整，以Hotcoin平台更新为准，最终解释权归Hotcoin平台所有。
                </div>
            </div>
            <div data-v-11eebd59="" data-v-04fabd82="" class="el-dialog__wrapper" style="z-index: 2022;display: none">
                <div role="dialog" aria-modal="true" aria-label="我的专属海报 下载发给好友" class="el-dialog el-dialog--center"
                     style="margin-top: 15vh; width: 540px;">
                    <div class="el-dialog__header"><span class="el-dialog__title">我的专属海报 下载发给好友</span>
                        <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                            <i class="el-dialog__close el-icon el-icon-close"></i>
                        </button>
                    </div>
                    <div class="el-dialog__body">
                        <div data-v-11eebd59="" class="tips hc-color7">
                            <div data-v-11eebd59="">
                                <div data-v-11eebd59="" id="imageWrapper" class="imageWrapper" style="position: relative; width: 192px; margin: 0px auto;">
                                    <img data-v-11eebd59="" src="/static/home/images/code.png"  width="46" height="47" class="poster-img">
                                    <img data-v-11eebd59="" src="/static/home/images/poster.34d1a68.png" width="192" height="342">
                                </div>
                                <div data-v-11eebd59="" id="show"></div>
                            </div>
                            <div data-v-11eebd59="">
                                <button data-v-11eebd59="" type="button" class="el-button submit el-button--warning">
                                    <span>
                                        <span data-v-11eebd59="">
                                            <a data-v-11eebd59="" href="#" download="我的专属海报" style="color: rgb(18, 19, 31);">下载到桌面</a>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="/static/home/js/jQuery-2.2.3.min.js"></script>
<script>
    $(".btn").click(function () {
        $(".el-dialog__wrapper").fadeIn(500)
    })
    $(".el-dialog__headerbtn").click(function () {
        $(".el-dialog__wrapper").hide()
    })
</script>

</body>
</html>