{include file="common/header"/}
<div style="width: 100%; margin: 0px auto; min-height: 500px;">
    <div data-v-159697e6="" class="global-width">
        <div data-v-159697e6="" class="hc-breadcrumb hc-bgColor1">
            <div data-v-159697e6="" class="hc-btn otc-index-btn hc-btn-active">订单管理</div>
        </div>
        <div data-v-618cd0f2="" data-v-159697e6="" class="OrderDetail">
            <div data-v-618cd0f2="" class="order-title hc-bgColor3">订单详情</div>
            <div data-v-618cd0f2="" class="order-div hc-bgColor1">
                <div data-v-c7e112c8="" data-v-618cd0f2="">
                    <div data-v-c7e112c8="" class="order-left">
                        <div data-v-c7e112c8="" class="order-user">
                            <div data-v-c7e112c8="" class="order-user-center">
                                <img data-v-c7e112c8="" src="/static/home/images/Avatar.png" class="order-img-1">
                                <div data-v-c7e112c8="" class="order-userinfo">
                                    <div data-v-c7e112c8="" style="margin-top: 20px;">{$user_info['usernum']}</div>
                                </div>
                            </div>
                        </div>
                        <div data-v-c7e112c8="" class="order-info">
                            <div data-v-c7e112c8="" class="order-user-detail">
                                <div data-v-c7e112c8="" class="user-info-common">
                                    <div data-v-c7e112c8="" class="common-title"> 交易次数</div>
                                    <div data-v-c7e112c8="" class="common-content">{$trade_count}</div>
                                </div>

                                <!--<div data-v-c7e112c8="" class="user-info-common" style="width: 36%;">-->
                                    <!--<div data-v-c7e112c8="" class="common-title">历史成交额</div>-->
                                    <!--<div data-v-c7e112c8="" class="common-content">0.431825 BTC</div>-->
                                <!--</div>-->
                                <div data-v-c7e112c8="" style="clear: both;"></div>
                            </div>
                            <div data-v-c7e112c8="" class="order-show-detail">
                                <div data-v-c7e112c8=""><p data-v-c7e112c8="">交易说明：</p>
                                    <p data-v-c7e112c8="" class="order-content">

                                    </p>
                                    <p data-v-c7e112c8="" class="order-content">
                                        1. 请您及时付款并点击「标记付款已完成」按钮，我才可以释放数字币给您
                                    </p>
                                    <p data-v-c7e112c8="" class="order-content">

                                    </p>
                                    <p data-v-c7e112c8="" class="order-content">
                                        2. 开始交易后数字币由系统锁定托管，请安心下单
                                    </p></div>
                            </div>
                            <div data-v-c7e112c8="" class="order-show-detail">
                                <div data-v-c7e112c8=""><p data-v-c7e112c8="">交易备注：</p>
                                    <div data-v-c7e112c8="" class="order-content"><p data-v-c7e112c8="">

                                    </p>
                                        <p data-v-c7e112c8="">
                                            请勿在汇款备注内填写比特币、AMB等任何数字币有关字眼，防止您的汇款被银行拦截
                                        </p>
                                        <p data-v-c7e112c8="">

                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-618cd0f2="" class="order-right">
                    <div data-v-618cd0f2="" class="order-right-body">
                        <div data-v-af4a48d2="" data-v-618cd0f2="" class="right-content-one"
                             orderinfo="[object Object]">
                            <div data-v-af4a48d2="" class="right-one-title">
                                <div data-v-af4a48d2="" class="list-title-left" style="color: rgb(50, 168, 105);">购买
                                    AMB
                                </div>
                                <div data-v-af4a48d2="" class="list-title-right">订单编号： {$order_info['order_num']}</div>
                                <div data-v-af4a48d2="" style="clear: both;"></div>
                            </div>
                            <div data-v-af4a48d2="" class="right-one-content">
                                <div data-v-af4a48d2="" class="order-right-common" style="width: 170px;">
                                    <div data-v-af4a48d2="" class="order-right-common-title">价格</div>
                                    <div data-v-af4a48d2="" class="order-right-common-detail">{$order_info['price']} CNY</div>
                                </div>
                                <div data-v-af4a48d2="" class="order-right-common"
                                     style="width: 170px; margin-left: 1px;">
                                    <div data-v-af4a48d2="" class="order-right-common-title">数量</div>
                                    <div data-v-af4a48d2="" class="order-right-common-detail">{$order_info['trade_num']} AMB</div>
                                </div>
                                <div data-v-af4a48d2="" class="order-right-common"
                                     style="width: 170px; margin-left: 1px;">
                                    <div data-v-af4a48d2="" class="order-right-common-title">交易金额</div>
                                    <div data-v-af4a48d2="" class="order-right-common-detail">{$order_info['sum']} CNY</div>
                                </div>
                                <div data-v-af4a48d2="" class="order-right-common"
                                     style="width: 120px; margin-left: 1px;">
                                    <div data-v-af4a48d2="" class="order-right-common-title">交易方式</div>
                                    <div data-v-af4a48d2="" class="order-right-common-detail">
                                        <img data-v-af4a48d2="" width="20" src="/static/home/images/Bank.png">
                                    </div>
                                </div>

                                <div data-v-af4a48d2="" class="order-right-common"
                                     style="width: 120px; margin-left: 1px;">
                                    <div data-v-af4a48d2="" class="order-right-common-title">状态</div>
                                    <div data-v-af4a48d2="" class="order-right-common-detail"> {$order_info['trade_status_str']}</div>
                                </div>
                            </div>
                            <div data-v-af4a48d2="">
                                <div data-v-af4a48d2="" class="order-list-notice-one">
                                    <span data-v-af4a48d2="" class="list-notice-title">手续费:</span>
                                    <span data-v-af4a48d2="">免费</span>
                                    <i data-v-af4a48d2="" class="fa fa-question-circle-o notice-color el-tooltip item"
                                       aria-describedby="el-tooltip-5796" tabindex="0"></i>
                                </div>
                                <div data-v-af4a48d2="" class="order-list-notice-two">
                                    <div data-v-af4a48d2="">
                                        <span data-v-af4a48d2="" class="list-notice-title">总额:</span>
                                        <span data-v-af4a48d2="" class="list-notice-detail">{$order_info['sum']} CNY</span>
                                    </div>
                                </div>
                                <div data-v-af4a48d2="" style="clear: both;"></div>
                            </div>
                        </div>
                        <div data-v-618cd0f2="">
                            <div data-v-2c97f9cc="" data-v-618cd0f2="" class="order-person-info">
                                <div data-v-2c97f9cc="" class="person-info-left">
                                    <!--TODO 收款账号-->
                                    <div data-v-2c97f9cc="" class="info-left-one">
                                        <div data-v-2c97f9cc="" class="one-title">卖家收款账号</div>
                                        <div data-v-2c97f9cc="" class="one-body">
                                            <span data-v-2c97f9cc="" style="position: relative">
                                                <div role="tooltip" id="el-popover-8958" aria-hidden="true"
                                                     class="el-popover el-popper order-person-info-popper" tabindex="0" style="width: 320px;position: absolute;top: -246px; left: 5px; display: none;">
                                                    <div data-v-2c97f9cc="" class="account-popover">
                                                        <div data-v-2c97f9cc="" class="account_info">
                                                            <span data-v-2c97f9cc=""
                                                                  class="account_info_span">姓名：</span>
                                                            <span data-v-2c97f9cc="">{$sell_info['username']}</span>
                                                            <div data-v-2c97f9cc="" class="account-copy">复制</div>
                                                        </div>
                                                        <div data-v-2c97f9cc="" class="account_info">
                                                            <span data-v-2c97f9cc=""
                                                                  class="account_info_span">开户行：</span>
                                                            <span data-v-2c97f9cc="">{$sell_info['bank_name']} </span>
                                                            <div data-v-2c97f9cc="" class="account-copy">复制</div>
                                                        </div>
                                                        <div data-v-2c97f9cc="" class="account_info">
                                                            <span data-v-2c97f9cc=""  class="account_info_span">银行卡号：</span>
                                                            <span data-v-2c97f9cc="">{$sell_info['bank_account']} </span>
                                                            <div data-v-2c97f9cc="" class="account-copy">复制</div>
                                                        </div>
                                                        <div data-v-2c97f9cc="" class="account_info">
                                                            <div data-v-2c97f9cc="" class="account_info_one">
                                                                开户行地址：
                                                            </div>
                                                            <div data-v-2c97f9cc="" class="account_info_two">
                                                                <span data-v-2c97f9cc="">{$sell_info['bank_desc']}</span>
                                                            </div>
                                                            <div data-v-2c97f9cc=""
                                                                 class="account-copy account_info_three"
                                                                 style="float: right;">
                                                                复制
                                                            </div>
                                                            <div data-v-2c97f9cc="" style="clear: both;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button data-v-2c97f9cc="" type="button" id="toggleBtn"  class="el-button btn el-button--default el-popover__reference" aria-describedby="el-popover-8958" tabindex="0">
                                                     <span>
                                                         <img data-v-2c97f9cc="" src="/static/home/images/Bank.png" width="16px" style="position: relative; top: 1px;">
                                                         <span data-v-2c97f9cc="" class="one-body-bank">银行卡号</span>
                                                     </span>
                                                </button>
                                            </span>
                                            <!----> <!---->
                                            <div data-v-2c97f9cc="" class="one-body-notice">※
                                                使用银行卡转账时，请不要添加任何备注内容！ 否则可能会被支付系统拦截
                                            </div>
                                        </div>
                                    </div>
                                    <!--TODO 收款账号-->
                                    <!--TODO 订单-->
                                    <div data-v-2c97f9cc="" id="change_hide" class="info-left-two">
                                        <div data-v-51760b78="" data-v-2c97f9cc="">
                                            <div data-v-51760b78="" class="two-title">
                                                <div data-v-51760b78="" class="order-title-one order-title"><p
                                                        data-v-51760b78="">
                                                    逾期订单将自动取消，请及时付款并点击标记付款
                                                </p>
                                                </div>
                                            </div>
                                            <div data-v-51760b78="" class="tips two-body">
                                                <div data-v-51760b78="" class="tips-one">
                                                    <div data-v-51760b78="" class="two-body">
                                                        <div data-v-51760b78="" style="height: 200px;">
                                                            {if $order_info['trade_status'] == 1}
                                                            <button data-v-51760b78="" id="sign_btn" type="button"
                                                                    class="el-button btn hc-b1tn hc-btn-active el-button--default"
                                                                    style="margin-top: 40px;"><span><span
                                                                    data-v-51760b78=""
                                                                    class="two-body-bank">标记付款已完成</span></span></button>



                                                            <button data-v-51760b78="" id="cancel_btn" type="button"
                                                                    class="el-button btn hc-btn el-button--default"
                                                                    style="margin-top: 20px;"><span><span
                                                                    data-v-51760b78="" class="two-body-bank">取消交易</span></span>
                                                            </button>
                                                            {else /}

                                                            <button data-v-51760b78=""  type="button"
                                                                    class="el-button btn hc-b1tn hc-btn-active el-button--default"
                                                                    style="margin-top: 40px;"><span><span
                                                                    data-v-51760b78=""
                                                                    class="two-body-bank">{$order_info['trade_status_str']}</span></span></button>


                                                            {/if}
                                                        </div>
                                                        <div data-v-51760b78="" class="two-notice"
                                                             style="padding: 20px;"><span data-v-51760b78=""
                                                                                          style="color: rgb(179, 71, 71);">※ 温馨提示：</span>
                                                            超过三笔取消订单，将被冻结当天下单权限。下单后请履行契约精神，恶意抬价或者是反悔，被投诉将冻结账户3-14天不等。
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--TODO 订单 end-->
                                    <!-- TODO 超时订单或取消的订单-->
                                    <div data-v-2c97f9cc="" id="cancel_qr" style="display: none " class="info-left-two">
                                        <div data-v-51760b78="" data-v-2c97f9cc="">
                                            <div data-v-51760b78="" class="two-title"><!----> <!----> <!----> <!---->
                                                <div data-v-51760b78="" class="order-title-seven order-title"><p
                                                        data-v-51760b78="" style="text-align: center; font-size: 14px;">
                                                    该订单已经取消，请勿再执行任何转帐行为</p></div> <!----></div>
                                            <div data-v-51760b78="" class="tips two-body"><!----> <!----> <!---->
                                                <!---->
                                                <div data-v-51760b78="" class="tips-seven">
                                                    <div data-v-51760b78="" class="tips-body">
                                                        <button data-v-51760b78="" disabled="disabled" type="button"
                                                                class="el-button btn1 el-button--default is-disabled"
                                                                style="margin-top: 80px; font-size: 14px;"><!---->
                                                            <!----><span><span data-v-51760b78="">订单超时，已取消</span></span>
                                                        </button>
                                                        <div data-v-51760b78="" class=""
                                                             style="text-align: center; margin-top: 30px; margin-bottom: 70px; color: rgb(146, 165, 235);">
                                                            <a data-v-51760b78=""
                                                               href="/helpCenter/details?typeName=help_home_coin&amp;id=1000009&amp;type=1"
                                                               class="">已付款订单超时取消了怎么办？</a></div>
                                                    </div>
                                                </div> <!----></div>
                                        </div>
                                    </div>
                                    <!-- TODO 超时订单或取消的订单-->
                                    <!--todo 已标记付款订单-->
                                    <div data-v-2c97f9cc="" id="sign_change" class="info-left-two" style="display: none">
                                        <div data-v-51760b78="" data-v-2c97f9cc="">
                                            <div data-v-51760b78="" class="two-title"><!---->
                                                <div data-v-51760b78="" class="order-title-six order-title"><p
                                                        data-v-51760b78=""
                                                        style="text-align: center; line-height: 40px; font-size: 14px;">
                                                    AMB将持续由系统锁定托管</p></div> <!----> <!----> <!----> <!----></div>
                                            <div data-v-51760b78="" class="tips two-body"><!---->
                                                <div data-v-51760b78="" class="tips-six">
                                                    <div data-v-51760b78="" class="tips-body">
                                                        <button data-v-51760b78="" disabled="disabled" type="button"
                                                                class="el-button btn1 el-button--default is-disabled"
                                                                style="margin-top: 10px; font-size: 14px; width: 320px; height: 40px; border: none;">
                                                            <!----><!----><span><span data-v-51760b78="">已标记付款，请等待卖家核实后释放数字币</span></span>
                                                        </button>
                                                    </div>

                                                    <div data-v-51760b78="" class="footer-notice"
                                                         style="font-size: 12px; padding-top: 0px;"><span
                                                            data-v-51760b78=""
                                                            style="color: rgb(179, 71, 71);">※ 温馨提示：</span>
                                                        如您付款完成，已点击标记付款后，商户在2小时内没有释放数字币或是联系不上商家，请向系统提起申诉，稍后会有客服联系您
                                                        处理相关事宜。
                                                    </div>
                                                </div> <!----> <!----> <!----> <!----></div>
                                        </div>
                                    </div>
                                    <!--todo 已标记付款订单  end-->
                                </div>

                                <div data-v-2c97f9cc="" style="clear: both;"></div>
                            </div>
                        </div>
                        <div data-v-618cd0f2="" class="order-person-notice"><p data-v-618cd0f2=""> 1.
                            交易完成后数字货币将自动转入您在 {:config('sys_name')} 上的钱包中 </p>
                            <p data-v-618cd0f2=""> 2. 场外交易时间通常为 5~60 分钟，具体时间依据卖家是否在线，及确认帐款的时间而有所调整，请耐心等待 </p>
                            <p data-v-618cd0f2=""> 3. 若长时间未收到卖家的回复，或卖家未释放数字货币，您可以提交工单发起申诉，客服人员将协助处理</p></div>
                    </div>
                </div>
            </div>
            <!--TODO t弹窗-->
            <!-- todo 确定付款弹窗-->
            <div data-v-60227975="" data-v-618cd0f2="" id="sign_dialog__wrapper" class="el-dialog__wrapper" style="z-index: 2001;display: none">
                <div role="dialog" aria-modal="true" aria-label="温馨提示" class="el-dialog el-dialog--center"
                     style="margin-top: 15vh; width: 540px;">
                    <div class="el-dialog__header"><span class="el-dialog__title">温馨提示</span>
                        <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i
                                class="el-dialog__close el-icon el-icon-close"></i></button>
                    </div>
                    <div class="el-dialog__body">
                        <div data-v-60227975="" class="tips">
                            <div data-v-60227975="" class="tips-two">
                                <div data-v-60227975="" class="row-style el-row">
                                    <p data-v-60227975=""
                                       class="title hc-color7">
                                        1、当您完成转账之后，请及时点击"确认已付款"，以便商户给您及时的释放数字币。</p>
                                    <p data-v-60227975="" class="title hc-color7">
                                        2、若您尚未转账给商户，请不要点击"确认已付款"，以免造成交易纠纷以及多次被投诉后引起的系统封号处理！</p></div>
                                <div data-v-60227975="">
                                    <input type="hidden" name="order_id" value="{$order_info['id']}" id="order_id">
                                    <input type="hidden" name="order_num" value="{$order_info['order_num']}" id="order_num">
                                    <button data-v-60227975="" id="confirm_fk_btn" type="button"
                                            class="el-button submit1 hc-btn-active el-button--default"
                                            style="margin-top: 70px; width: 100%;"><!----><!----><span><span
                                            data-v-60227975="">确认付款</span></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--todo  确定付款弹窗-->

            <!--TODO 取消交易-->
            <div data-v-60227975="" data-v-618cd0f2="" id="cancel_dialog" class="el-dialog__wrapper"  style="z-index: 2009;display: none">
                <div role="dialog" aria-modal="true" aria-label="温馨提示" class="el-dialog el-dialog--center"
                     style="margin-top: 15vh; width: 540px;">
                    <div class="el-dialog__header"><span class="el-dialog__title">温馨提示</span>
                        <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i
                                class="el-dialog__close el-icon el-icon-close"></i></button>
                    </div>
                    <div class="el-dialog__body">
                        <div data-v-60227975="" class="tips">
                            <div data-v-60227975="" class="tips-one">
                                <div data-v-60227975="" class="row-style el-row">
                                    <div data-v-60227975="" class="title hc-color7">如您已向卖家付款，请千万不要取消订单。</div>
                                    <div data-v-60227975="" class="content">取消规则：买方当日累计3笔取消，将会限制当天的买入功能。</div>
                                </div>
                                <div data-v-60227975="">
                                    <button data-v-60227975="" id="cancel_qr_dialog" type="button"
                                            class="el-button submit1 hc-btn-active el-button--default"
                                            style="margin-top: 70px;">
                                        <span><span data-v-60227975="">确认取消交易</span></span>
                                    </button>
                                </div>
                                <div data-v-60227975="">
                                    <button data-v-60227975="" id="i_xx" type="button" class="el-button submit el-button--default"
                                            style="margin-top: 30px;"><!----><!----><span><span
                                            data-v-60227975="">我在想想</span></span></button>
                                </div>
                            </div>
                        </div>
                    </div><!----></div>
            </div>
            <!--TODO 取消交易 end-->

            <!--TODO t弹窗 end-->
            <div data-v-1608f338="" data-v-618cd0f2="" class="el-dialog__wrapper" style="display: none;">
                <div role="dialog" aria-modal="true" aria-label="我要申诉" class="el-dialog el-dialog--center"
                     style="margin-top: 15vh; width: 660px;">
                    <div class="el-dialog__header"><span class="el-dialog__title">我要申诉</span>
                        <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i
                                class="el-dialog__close el-icon el-icon-close"></i></button>
                    </div><!----><!----></div>
            </div>
        </div>
    </div>

</div>
    {include file="common/footer"/}

<script src="/static/home/js/jQuery-2.2.3.min.js"></script>
<script>
    //el-popover-8958   银行卡
    $('#toggleBtn').click(function () {
        $('#el-popover-8958').toggle()
    });
    //el-dialog__headerbtn 关闭弹窗
    $('.el-dialog__headerbtn').click(function () {
        $('.el-dialog__wrapper').hide()
    });
    //change_hide 根据条件进行隐藏
    /**
     * sign_loading 页面
     * 标记付款已完成
     * sign_btn
     * sign_dialog__wrapper
     * 标记付款已完成，弹出确认弹窗，把按钮部分隐藏，确定后内容显示
     * */
    $('#sign_btn').click(function () {
        $("#sign_dialog__wrapper").fadeIn(300)
    });
    // 确定付款
    $("#confirm_fk_btn").click(function () {
        $("#sign_dialog__wrapper").hide();
        $("#change_hide").hide();
        $("#sign_change").show();
        var order_id = $("#order_id").val();
        var order_num = $("#order_num").val();
        $.post("{:url('paySure')}",{'order_id' : order_id, 'order_num' : order_num},function(res){
            if(res.code == 0){
                layer.msg(res.msg,{time:1000,icon:2});
            }else{
                location.reload();

            }
        });

    });


    // 取消交易 cancel_btn cancel_dialog cancel_qr_dialog i_xx
    $("#cancel_btn").click(function () {
        $("#cancel_dialog").fadeIn(300)
    });
    $("#i_xx").click(function () {
        $("#cancel_dialog").hide()
    });
    $("#cancel_qr_dialog").click(function () {
        $("#cancel_dialog").hide();
        $("#change_hide").hide();
        $("#cancel_qr").fadeIn(300);
        var order_id = $("#order_id").val();
        var order_num = $("#order_num").val();
        $.post("{:url('cancelOrder')}",{'order_id' : order_id, 'order_num' : order_num},function(res){
            if(res.code == 0){
                layer.msg(res.msg,{time:1000,icon:2});
            }
        });

    });

</script>
