{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>申请提现列表</legend>
    </fieldset>

    <div class="layui-tab layui-tab-brief" lay-filter="userAccount">
        <ul class="layui-tab-title">
            <li class="layui-this">{$currency_arr[0]}</li>
            <li>{$currency_arr[2]}</li>
            <li>{$currency_arr[3]}</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <div class="layui-tab-item layui-show">
                <div class="demoTable layui-form">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <select name="status1" lay-verify="required" id="status1" lay-search>
                                <option value="">请选择</option>
                                {foreach $status as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="start_date1" id="start_time1" lay-verify="date" placeholder="开始时间" autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="end_date1" id="end_time1" lay-verify="date" placeholder="结束时间" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-inline">
                        <input class="layui-input" name="key1" id="key1" placeholder="请输入关键字">

                    </div>
                    <button class="layui-btn" id="search1" data-type="reload">搜索</button>

                </div>
                <table class="layui-table" id="table1" lay-filter="table1"></table>
            </div>
            <div class="layui-tab-item">

                <div class="demoTable layui-form">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <select name="status" lay-verify="required" id="status2" lay-search>
                                <option value="">请选择</option>
                                {foreach $status as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="start_date2" id="start_time2" lay-verify="date" placeholder="开始时间" autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="end_date2" id="end_time2" lay-verify="date" placeholder="结束时间" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-inline">
                        <input class="layui-input" name="key2" id="key2" placeholder="请输入关键字">

                    </div>
                    <button class="layui-btn" id="search2" data-type="reload">搜索</button>

                </div>
                <table class="layui-table" id="table2" lay-filter="table2"></table>

            </div>
            <div class="layui-tab-item">

                <div class="demoTable layui-form">
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <select name="status" lay-verify="required" id="status3" lay-search>
                                <option value="">请选择</option>
                                {foreach $status as $key => $val}
                                <option value="{$key}">{$val}</option>
                                {/foreach}
                            </select>
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="start_date3" id="start_time3" lay-verify="date" placeholder="开始时间" autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-inline">
                            <input type="text" name="end_date3" id="end_time3" lay-verify="date" placeholder="结束时间" autocomplete="off" class="layui-input">
                        </div>

                    </div>

                    <div class="layui-inline">
                        <input class="layui-input" name="key3" id="key3" placeholder="请输入关键字">

                    </div>
                    <button class="layui-btn" id="search3" data-type="reload">搜索</button>

                </div>
                <table class="layui-table" id="table3" lay-filter="table3"></table>

            </div>
        </div>
    </div>


</div>

<script type="text/html" id="action">
    <a href="#" class="layui-btn  layui-btn-xs" data-user="{{d.user_id}}" id="detail">详情</a>
    <a href="#" class="layui-btn layui-btn-warm layui-btn-xs" data-id="{{d.id}}" data-type="{{d.type}}" id="del">删除</a>

    {{#  if(d.status_str == '未审核'){ }}
    <a href="#" class="layui-btn layui-btn-primary layui-btn-xs" data-id="{{d.id}}" data-type="{{d.type}}" id="decline">拒绝</a>

    {{#  } }}


</script>


<script type="text/html" id="topBtn">
    <input type="hidden" id="type" value="1">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-sm" id="delAll">批量删除</button>
    <a class="layui-btn layui-btn-normal layui-btn-sm" id="mulApprove">批量批准</a>
    <a  class="layui-btn layui-btn-warm layui-btn-sm">直接批准（不提交到第四方）</a>
</script>

{include file="common/foot"/}
<script>
    layui.use(['table','form','laydate','element'], function() {
        var table = layui.table,form = layui.form, $ = layui.jquery, laydate = layui.laydate, element = layui.element;

        //执行一个laydate实例
        laydate.render({
            elem: '#start_time1' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end_time1' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start_time2' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end_time2' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#start_time3' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end_time3' //指定元素
        });

        function show_table(_type){
            table.render({
                id: 'table'+_type,
                elem: '#table'+_type,
                url: '{:url("applicationForCash")}',
                where: {'type':_type},
                method: 'post',
                toolbar: '#topBtn',
                page: true,
                cols: [[
                    {checkbox:true,fixed: true},
                    {field: 'id', title: 'id', width: 50, fixed: true},
                    {field: 'usernum', title: '用户编号', width: 200, fixed: true},
                    {field: 'username', title: '用户名', width: 200, fixed: true},
                    {field: 'cash_sum', title: '提现金额($)', width: 100},
                    {field: 'cash_method', title: '提现方式', width: 100},
                    {field: 'poundage', title: '手续费', width: 100},
                    {field: 'real_sum', title: '到账金额', width: 100},
                    {field: 'alipay_account', title: '支付宝账户', width: 100},
                    {field: 'status_str', title: '状态', width: 150},
                    {field: 'create_time', title: '申请时间', width: 150},
                    {field: 'type', title: '提现类型', width: 150, hide:true},
                    {field: 'user_id', title: '用户id', width: 150, hide:true},
                    {title:'操作', width: 300, align: 'center', toolbar: '#action'}
                ]],
                limit: 10 //每页默认显示的数量
            });
        };

        function show_table2(_type){
            table.render({
                id: 'table'+_type,
                elem: '#table'+_type,
                url: '{:url("applicationForCash")}',
                where: {'type':_type},
                method: 'post',
                toolbar: '#topBtn',
                page: true,
                cols: [[
                    {checkbox:true,fixed: true},
                    {field: 'id', title: 'id', width: 50, fixed: true},
                    {field: 'usernum', title: '用户编号', width: 200, fixed: true},
                    {field: 'username', title: '用户名', width: 200, fixed: true},
                    {field: 'cash_sum', title: '提现金额($)', width: 100},
                    {field: 'cash_method', title: '提现方式', width: 100},
                    {field: 'poundage', title: '手续费', width: 100},
                    {field: 'real_sum', title: '到账金额', width: 100},
                    {field: 'alipay_account', title: '支付宝账户', width: 100},
                    {field: 'status_str', title: '状态', width: 150},
                    {field: 'create_time', title: '申请时间', width: 150},
                    {field: 'type', title: '提现类型', width: 150, hide:true},
                    {field: 'user_id', title: '用户id', width: 150, hide:true},
                    {title:'操作', width: 300, align: 'center', toolbar: '#action'}
                ]],
                limit: 10 //每页默认显示的数量
            });
        };

        function show_table3(_type){
            table.render({
                id: 'table'+_type,
                elem: '#table'+_type,
                url: '{:url("applicationForCash")}',
                where: {'type':_type},
                method: 'post',
                toolbar: '#topBtn',
                page: true,
                cols: [[
                    {checkbox:true,fixed: true},
                    {field: 'id', title: 'id', width: 50, fixed: true},
                    {field: 'usernum', title: '用户编号', width: 200, fixed: true},
                    {field: 'username', title: '用户名', width: 200, fixed: true},
                    {field: 'cash_sum', title: '提现金额($)', width: 100},
                    {field: 'cash_method', title: '提现方式', width: 100},
                    {field: 'poundage', title: '手续费', width: 100},
                    {field: 'real_sum', title: '到账金额', width: 100},
                    {field: 'alipay_account', title: '支付宝账户', width: 100},
                    {field: 'status_str', title: '状态', width: 150},
                    {field: 'create_time', title: '申请时间', width: 150},
                    {field: 'type', title: '提现类型', width: 150, hide:true},
                    {field: 'user_id', title: '用户id', width: 150, hide:true},
                    {title:'操作', width: 300, align: 'center', toolbar: '#action'}
                ]],
                limit: 10 //每页默认显示的数量
            });
        };

        //搜索
        $('#search1').on('click', function() {
            var key = $('#key1').val();
            var start_time = $('#start_time1').val();
            var end_time = $('#end_time1').val();
            var status = $('#status1').val();
            // if($.trim(key)==='') {
            //     layer.msg('{:lang("pleaseEnter")}关键字！',{icon:0});
            //     return;
            // }
            table.reload('table1',{ page: {page: 1},where: {key: key, start_time:start_time, end_time:end_time, status:status,type:1}})
        });

        //搜索2
        $('#search2').on('click', function() {
            var key = $('#key2').val();
            var start_time = $('#start_time2').val();
            var end_time = $('#end_time2').val();
            var status = $('#status2').val();
            table.reload('table2',{ page: {page: 1},where: {key: key, start_time:start_time, end_time:end_time, status:status,type:2}})
        });

        //搜索3
        $('#search3').on('click', function() {
            var key = $('#key3').val();
            var start_time = $('#start_time3').val();
            var end_time = $('#end_time3').val();
            var status = $('#status3').val();
            table.reload('table3',{ page: {page: 1},where: {key: key, start_time:start_time, end_time:end_time, status:status,type:3}})
        });



        show_table(1);

        element.on('tab(userAccount)', function (data) {
            if(data.index == 0) {
                $('#key1').val('');
                $('#start_time1').val('');
                $('#end_time1').val('');
                $('#type').val('1');
                show_table(1);
            }else if(data.index == 1){
                $('#key2').val('');
                $('#start_time2').val('');
                $('#end_time2').val('');
                $('#status2').val('');
                $('#type').val('2');
                show_table2(2);
            }else if(data.index == 2){
                $('#key3').val('');
                $('#start_time3').val('');
                $('#end_time3').val('');
                $('#status3').val('');
                $('#type').val('3');
                show_table3(3);
            }
        });

        //删除一条记录
        $('body').on('click','#del',function() {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            layer.confirm('您确定要删除吗？', function(index){
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('applyCashDel')}",{id:id,type:type},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(res.msg,{time:1000,icon:1});
                        table.reload('table'+type);
                    }else{
                        layer.msg('操作失败！',{time:1000,icon:2});
                    }
                });
                layer.close(index);
            });
        });


        //拒绝
        $('body').on('click','#decline',function() {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            layer.prompt({
                formType: 2,
                title: '请输入拒绝原因',
                area: ['300px', '200px'] //自定义文本域宽高
            }, function(value, index, elem){
                var loading = layer.load(2, {shade: [0.1, '#fff']});
                $.post("{:url('decline')}",{id:id,type:type,reason:value},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        table.reload('table'+type);
                    }else{
                        layer.msg('操作失败！',{time:1000,icon:2});
                    }
                });
                layer.close(index);

            });



        });


        //查看详情
        $('body').on('click','#detail',function() {
            var user_id = $(this).attr('data-user');
            var loading = layer.load(1, {shade: [0.1, '#fff']});
            $.post("{:url('cashDetail')}",{user_id:user_id},function(res){
                layer.close(loading);
                if(res.code===1){
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['420px', '240px'], //宽高
                        content: '开户名：'+res.info.bank_user+'<br />'+'开户行：'+res.info.bank_name+'<br />'+'银行账号：'+res.info.bank_account,
                    });
                }else{
                    layer.msg('操作失败！',{time:1000,icon:2});
                }
            });
        });

        //批量删除
        $('body').on('click','#delAll',function() {
            layer.confirm('确认要删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var type = $('#type').val();
                var checkStatus = table.checkStatus('table'+type);
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                if(ids.length < 1){
                    layer.msg('请选择要删除的数据', {time: 1000, icon: 2});
                    return;
                }
                var loading = layer.load(2, {shade: [0.1, '#fff']});
                $.post("{:url('applyCashDelall')}", {ids: ids,type:type}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        table.reload('table'+type);
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });

        //批量批准
        $('body').on('click','#mulApprove',function() {
            layer.confirm('确认此操作吗？', {icon: 3}, function(index) {
                layer.close(index);
                var type = $('#type').val();
                var checkStatus = table.checkStatus('table'+type);
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                if(ids.length < 1){
                    layer.msg('请选择要批准的id', {time: 1000, icon: 2});
                    return;
                }
                var loading = layer.load(2, {shade: [0.1, '#fff']});
                $.post("{:url('mulApprove')}", {ids: ids,type:type}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        table.reload('table'+type);
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })




    });
</script>
</body>
</html>