{include file="common/header"/}
<body style="background: #ebedf9;">
<div class="mui-content mui-scroll-wrapper bg-fff mui-bottom-60" id="pullrefresh">
    <div class="mui-scroll">

        <div class="mui-table-view mui-table-view-chevron " style="margin-bottom: 00px;" >
            <div class="mui-content">
                <header class="mui-bar mui-bar-nav" style="background: transparent;height: 57px;">
                    <h1 class="mui-title mui-text-bai" style="line-height: 57px;">账户</h1>
                </header>
                <div class="mui-login-header"></div>
                <div class="mui-user">
                    <div class="mui-user-header">
                        <div class="flex">
                            <div class="flex-item mui-text-center mui-top-20">
                                <span>UID</span>
                                <p>{$user_info['usernum']}</p>
                            </div>
                            <div class="flex-item mui-text-center">
                                <img src="/static/mobilenew/images/user.jpg" alt="" width="80" height="80" style="border-radius: 100%;" />
                            </div>
                            <div class="flex-item mui-text-center mui-top-20">
                                <!--<img src="/static/mobilenew/images/tu4.png" alt="" width="20" height="18" />-->
                                <span>交易账号余额</span>
                                <p>{$account_info['transaction_num']}</p>
                            </div>

                        </div>
                        <div class="mui-text-center">
                            <p class="zi-333 mui-top-10">{$user_info['mobile']}</p>
                        </div>
                    </div>
                    <div class="mui-user-list">
                        <ul class="mui-list-inline mui-clearfix">
                            <li class="">
                                <a href="{:url('rechargeAndcash')}">
                                    <img src="/static/mobilenew/images/tu5.png" alt="" width="25" height="25" />
                                    <p>充值提现记录</p>
                                </a>
                            </li>
                            <li class="">
                                <a href="{:url('orderList')}">
                                    <img src="/static/mobilenew/images/tu6.png" alt="" width="25" height="25" />
                                    <p>订单管理</p>
                                </a>
                            </li>
                            <li class="">
                                <a href="{:url('userInfo')}">
                                    <img src="/static/mobilenew/images/tu81.png" alt="" width="20" height="20" style="margin: 0 5px 0 3px;" />
                                    <p>个人资料</p>
                                </a>
                            </li>
                            <li class="">
                                <a href="{:url('updatePas')}">
                                    <img src="/static/mobilenew/images/tu82.png" alt="" width="23" height="23" style="margin: 0 5px 0 3px;" />
                                    <p>修改密码</p>
                                </a>
                            </li>
                        </ul>
                        <div style="width: 90%;margin: 20px auto;">
                            <a class="mui-btns " href="{:url('userCenter')}" style="margin-bottom: 10px;background: #ff8850;">结算系统</a>
                            <a href="{:url('logout')}"><button class="mui-btns ">退出登录</button></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<nav class="mui-bar mui-bar-bottom " >
    <a class="mui-tab-item " href="{:url('mobile/index/index')}">
        <span class="mui-icon fa fa-line-chart"></span>
        <span class="mui-tab-label">行情</span>
    </a>
    <a class="mui-tab-item" href="{:url('mobile/trade/index')}">
        <span class="mui-icon fa fa-bitcoin" ></span>
        <span class="mui-tab-label">交易大厅</span>
    </a>

    <a class="mui-tab-item" href="{:url('mobile/wallet/index')}">
        <span class="mui-icon fa fa-archive" ></span>
        <span class="mui-tab-label">我的资产</span>
    </a>
    <a class="mui-tab-item mui-active" href="{:url('mobile/user/index')}">
        <span class="mui-icon fa fa-user" ></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>
{include file="common/footer"/}
<script type="text/javascript" charset="utf-8">

    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            down: {
                style:'circle',
                callback: pulldownRefresh
            }
        }
    });
    function pulldownRefresh() {
        setTimeout(function() {
            window.location.reload()
            mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
        }, 1500);
    }




</script>
