<!DOCTYPE html>
<html lang="en" class="night-style">
<head>
    <meta charset="UTF-8">
    <title>个人设置</title>
    <link rel="stylesheet" href="/static/home/css/app.css">
    <link rel="stylesheet" href="/static/home/css/style.css">
    <link rel="stylesheet" href='/static/home/layui/css/layui.css'>
    <style>
        .layui-select-title input {
            background: #1c1e2d;
            border: 1px solid #3a3b54;
            color: #e6e6e6;
            height: 50px;
        }

        .layui-form-select dl {
            background: #2e2f43;
        }

        .layui-form-item .layui-input-inline {
            width: 47%;
            margin-right: 13px;
        }
    </style>
</head>
<body>


<div style="width: 100%; margin: 0px auto; min-height: 500px;">
    <div data-v-1766f510="" class="person-setting global-width">
        <div data-v-1766f510="" class="person-title hc-bgColor1"><span data-v-1766f510=""
                                                                       class="title-content">个人设置</span></div>
        <div data-v-1766f510="" class="setting">
            <div data-v-1766f510="" class="setting-title hc-bgColor3">账户安全设置修改</div>
            <div data-v-1766f510="" class="setting-body hc-bgColor1  hc-bgColor11">
                <div data-v-1766f510="" class="security-list">
                    <div data-v-1766f510="" class="security-list-one hc-color">安全验证方式</div>
                    <div data-v-1766f510="" class="security-list-two"></div>
                    <div data-v-1766f510="" class="security-list-three hc-color7">"短信验证码"</div>
                </div>
            </div>
        </div>
        <div data-v-1766f510="" class="person-mode hc-bgColor3">
            <div data-v-1766f510="" class="person-mode-title"><span data-v-1766f510=""
                                                                    class="mode-title-one">账户收款方式</span> <span
                    data-v-1766f510="" class="mode-title-two hc-color6 hc-color6-1">（请务必使用您本人的实名账户，被激活的收款方式将在交易时向买方展示，最多激活3种）</span>
            </div>
            <div data-v-1766f510="" class="person-mode-content hc-bgColor1">
                <div data-v-1766f510="" class="card-list">
                    {if !empty($user_info['bank_id'])}
                    <div data-v-1766f510="" class="hc-bgColor1">
                        <div data-v-1766f510="" class="card-single hc-bgColor4 clearfix" style="margin-top: 50px;">
                            <div data-v-1766f510="" class="single-top">
                                <img data-v-1766f510=""
                                     src="https://hotcoin-hk-static.oss-cn-hongkong.aliyuncs.com/hotcoin/upload/bankIcon/c2c_CMBC.png"><span
                                    data-v-1766f510="" class="single-top-one">{$user_info['bank_name']}</span>
                                <i data-v-1766f510="" class="fa fa-pencil-square hc-color3"
                                   style="cursor: pointer;"></i>
                                <span data-v-1766f510="" class="single-top-two" style="cursor: pointer;">已启用</span>
                            </div>
                            <div data-v-1766f510="" class="single-center">{$user_info['bank_account']}</div>
                            <div data-v-1766f510="" class="single-bottom clearfix">
                                <div data-v-1766f510="" class="hc-bgColor5 hc-bgColor55-selected delete-bank">
                                    <i data-v-1766f510="" class="el-icon-close hc-color" id="delBank" data-id="{$user_info['id']}" data-type="1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                    {if !empty($user_info['alipay_account'])}
                    <div data-v-1766f510="" class="hc-bgColor1">
                        <div data-v-1766f510="" class="card-single hc-bgColor4 clearfix" style="margin-top: 50px;">
                            <div data-v-1766f510="" class="single-top">
                                <img data-v-1766f510=""
                                     src="https://hotcoin-hk-static.oss-cn-hongkong.aliyuncs.com/hotcoin/upload/bankIcon/Alipay.png">
                                <span data-v-1766f510="" class="single-top-one">支付宝</span>
                                <i data-v-1766f510="" class="fa fa-pencil-square hc-color3"
                                   style="cursor: pointer;"></i>
                                <span data-v-1766f510="" class="single-top-two">已启用</span>
                            </div>
                            <div data-v-1766f510="" class="single-center">
                                {$user_info['alipay_account']}
                                <span data-v-1766f510="" height="200">
                                        <div role="tooltip" id="el-popover-1831" aria-hidden="true"
                                             class="el-popover el-popper aaa" tabindex="0"
                                             style="width: 200px; display: none;">
                                            <div data-v-1766f510=""
                                                 style="text-align: center; padding-top: 10px; padding-bottom: 6px; width: 200px;">
                                                <img data-v-1766f510=""
                                                     src="https://hotcoin-hk-static.oss-cn-hongkong.aliyuncs.com/aliPay/2019-03-14/a1f25929-25ac-4d14-9043-eed1b425891a.png"
                                                     style="vertical-align: middle; width: 190px;">
                                            </div>
                                        </div>
                                        <i data-v-1766f510="" class="fa fa-qrcode single-qrcode el-popover__reference"
                                           aria-describedby="el-popover-1831" tabindex="0"></i>
                                    </span>
                            </div>
                            <div data-v-1766f510="" class="single-bottom clearfix">
                                <div data-v-1766f510="" class="hc-bgColor5 hc-bgColor55-selected delete-bank">
                                    <i data-v-1766f510="" class="el-icon-close hc-color" id="delAlipay" data-id="{$user_info['id']}" data-type="2"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}

                    {if !empty($user_info['weixin_account'])}
                    <div data-v-1766f510="" class="hc-bgColor1">
                        <div data-v-1766f510="" class="card-single hc-bgColor4 clearfix" style="margin-top: 50px;">
                            <div data-v-1766f510="" class="single-top">
                                <img data-v-1766f510=""
                                     src="https://hotcoin-hk-static.oss-cn-hongkong.aliyuncs.com/hotcoin/upload/bankIcon/Alipay.png">
                                <span data-v-1766f510="" class="single-top-one">微信</span>
                                <i data-v-1766f510="" class="fa fa-pencil-square hc-color3"
                                   style="cursor: pointer;"></i>
                                <span data-v-1766f510="" class="single-top-two">已启用</span>
                            </div>
                            <div data-v-1766f510="" class="single-center">
                                {$user_info['alipay_account']}
                                <span data-v-1766f510="" height="200">
                                        <div role="tooltip"  aria-hidden="true"
                                             class="el-popover el-popper aaa" tabindex="0"
                                             style="width: 200px; display: none;">
                                            <div data-v-1766f510=""
                                                 style="text-align: center; padding-top: 10px; padding-bottom: 6px; width: 200px;">
                                                <img data-v-1766f510=""
                                                     src="https://hotcoin-hk-static.oss-cn-hongkong.aliyuncs.com/aliPay/2019-03-14/a1f25929-25ac-4d14-9043-eed1b425891a.png"
                                                     style="vertical-align: middle; width: 190px;">
                                            </div>
                                        </div>
                                        <i data-v-1766f510="" class="fa fa-qrcode single-qrcode el-popover__reference"
                                           aria-describedby="el-popover-1831" tabindex="0"></i>
                                    </span>
                            </div>
                            <div data-v-1766f510="" class="single-bottom clearfix">
                                <div data-v-1766f510="" class="hc-bgColor5 hc-bgColor55-selected delete-bank">
                                    <i data-v-1766f510="" class="el-icon-close hc-color" id="delWeixin" data-id="{$user_info['id']}" data-type="3"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}

                    {if($account_num < 3)}
                    <div data-v-1766f510="" class="card-single hc-bgColor4 dashed" style="margin-top: 50px;">
                        <div data-v-1766f510="" class="add-mode"><span data-v-1766f510="">+ 添加收款方式</span></div>
                    </div>
                    <div data-v-1766f510="" style="clear: both; margin-bottom: 50px;"></div>
                    {/if}
                </div>
            </div>
        </div>
        <!-- TODO 添加收款方式-->
        <div data-v-1d8dd908="" data-v-1766f510="" class="el-dialog__wrapper" bankid=""
             style="z-index: 2047;display: none">
            <div role="dialog" aria-modal="true" aria-label="添加收款方式" class="el-dialog el-dialog--center"
                 style="margin-top: 15vh; width: 600px;">
                <div class="el-dialog__header"><span class="el-dialog__title">添加收款方式</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                        <i class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                </div>
                <div class="el-dialog__body">
                    <!--todo 标签页-->
                    <div data-v-606b29c2="" class="el-tabs el-tabs--card el-tabs--top" mode="horizontal">
                        <!-- todo 标签页头-->
                        <div class="el-tabs__header is-top">
                            <div class="el-tabs__nav-wrap is-top">
                                <div class="el-tabs__nav-scroll">
                                    <ul role="tablist" class="el-tabs__nav is-top" style="transform: translateX(0px);">
                                        <li aria-controls="pane-first" role="tab" aria-selected="true"
                                            tabindex="0" class="el-tabs__item is-top">
                                            <a href="#" name="#tab1">银行卡</a>
                                        </li>
                                        <li aria-controls="pane-second" role="tab" tabindex="-1"
                                            class="el-tabs__item is-top">
                                            <a href="#" name="#tab2">支付宝</a>
                                        </li>
                                        <li aria-controls="pane-second" role="tab" tabindex="-1"
                                            class="el-tabs__item is-top">
                                            <a href="#" name="#tab3">微信支付</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--TODO 标签页主体-->
                        <div class="el-tabs__content">
                            <!--TODO 银行卡-->
                            <div data-v-606b29c2="" id="tab1" class="el-tab-pane hc-bgColor1 tab-content"
                                 style="padding: 0px 20px;">
                                <form class="layui-form" action="" lay-filter="example">
                                    <div data-v-1d8dd908="" class="add-bank-card hc-color3">
                                        <div data-v-1d8dd908="" class="row-style el-row"
                                             style="margin-left: -10px; margin-right: -10px;">
                                            <!--todo 姓名-->
                                            <div data-v-1d8dd908="" class="el-col"
                                                 style="padding-left: 10px; padding-right: 10px;">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">姓名</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input is-disabled">
                                                    <input type="text" autocomplete="off" placeholder="" name="username" class="el-input__inner" value="{$user_info['username']}" {if condition="!empty($user_info['username'])"}disabled{/if}>

                                                </div>
                                            </div>
                                        </div>
                                        <div data-v-1d8dd908="">
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">开户银行</span>
                                                    <span data-v-1d8dd908=""
                                                          class="title_right">* 提示只支持列表中的银行，其它银行暂未开通</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-select" style="width: 100%;">

                                                    <div class="layui-form-item">
                                                        <div class="">
                                                            <select name="bank_id" lay-filter="aihao" class="" lay-verify="required">
                                                                <option value="">请选择</option>
                                                                {foreach $bank_list as $key => $val}
                                                                <option value="{$val['id']}" {if condition="$user_info['bank_id'] eq $val['id']"}selected{/if} >{$val['bank_name']}</option>
                                                                {/foreach}
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">开户银行所在地</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-row"
                                                     style="margin-left: -10px; margin-right: -10px;">
                                                    <div class="layui-form-item">

                                                        <div class="layui-input-inline">
                                                            <select name="province" lay-filter="province">
                                                                <option value="">请选择省</option>
                                                                {foreach $province as $key => $val}
                                                                <option value="{$val['id']}" {if condition="$user_info['province'] eq $val['id']"}selected{/if} >{$val['name']}</option>
                                                                {/foreach}
                                                            </select>
                                                        </div>
                                                        <div class="layui-input-inline" lay-filter="city">
                                                            <select name="city" id="city">
                                                                <option value="">请选择市</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">开户支行名称</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="text" autocomplete="off" placeholder="请填写开户支行名"
                                                           id="address" name="bank_desc" class="el-input__inner">
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">银行卡号</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="text" autocomplete="off" placeholder="请填写银行卡号"
                                                           id="account" name="bank_account" lay-verify="required|banknum"  class="el-input__inner">
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">资金密码</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="password" autocomplete="off" placeholder="请填写资金密码"
                                                           id="password" name="bank_pass" class="el-input__inner">
                                                </div>
                                            </div>
                                        </div>
                                        <button data-v-1d8dd908="" type="button"
                                                class="el-button submit el-button--warning">
                                            <input type="hidden" name="id" value="{$user_info['id']}">
                                            <input type="hidden" name="type" value="1">
                                            <span><span data-v-1d8dd908="" lay-submit="" lay-filter="submit1">确认添加</span></span>
                                        </button>
                                        <div data-v-1d8dd908="" class="bottom-notice hc-color">
                                            提醒您，请务必使用您本人的实名账户，以免无法正常收款
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--todo 银行卡end -->
                            <!-- TODO 支付宝-->
                            <div data-v-606b29c2="" id="tab2" class="el-tab-pane hc-bgColor1 tab-content"
                                 style="padding: 0px 20px;">
                                <form action="" class="layui-form">
                                    <div data-v-1d8dd908="" class="add-bank-card hc-color3">
                                        <div data-v-1d8dd908="" class="row-style el-row"
                                             style="margin-left: -10px; margin-right: -10px;">
                                            <div data-v-1d8dd908="" class="el-col"
                                                 style="padding-left: 10px; padding-right: 10px;">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">姓名</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input is-disabled">
                                                    <input type="text" autocomplete="off" placeholder="" name="username" class="el-input__inner" value="{$user_info['username']}" {if condition="!empty($user_info['username'])"}disabled{/if}>

                                                </div>
                                            </div>
                                        </div> <!---->
                                        <div data-v-1d8dd908="">
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left"></span>
                                                    <span data-v-1d8dd908="" class="title_right">* 提示:只可以添加本人名下账号</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="text" autocomplete="off" placeholder="请填写账号" id="alipay_account" name="alipay_account" class="el-input__inner">
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">二维码</span><span
                                                        data-v-1d8dd908="" class="title_right">* 请上传您的收款二维码图片(* . jpg / * . png / * . jpeg)</span>
                                                </div>
                                                <div data-v-1d8dd908="">
                                                    <div data-v-1d8dd908="" class="upload-demo">
                                                        <button type="button" class="layui-btn" id="aliImage" style="background: #8275ff">
                                                            上传图片
                                                        </button>
                                                        <input type="hidden" name="alipay_img_code" id="alipay_img_code">
                                                        <div tabindex="0" class="el-upload el-upload--text">
                                                            <div class="el-upload-dragger" style="position: relative">
                                                                <i data-v-469a90da="" class="el-icon-upload"></i>
                                                                <div class="layui-upload-list"
                                                                     style="margin:0;position: absolute; top:0; left: 0; z-index: 10;width: 100%;height: 100% ">
                                                                    <img class="layui-upload-img" id="aliImageShow"
                                                                         style="width: 100%;height: 100% ">
                                                                    <!--<p id="demoText"></p>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">资金密码</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="password"  autocomplete="off"  placeholder="请填写资金密码"  id="trade_password"  name="alipay_pass" class="el-input__inner">
                                                </div>
                                            </div>
                                        </div>
                                        <button data-v-1d8dd908="" type="button" class="el-button submit el-button--warning">
                                        <span>
                                            <input type="hidden" name="id" value="{$user_info['id']}">
                                            <input type="hidden" name="type" value="2">
                                            <span data-v-1d8dd908="" lay-submit="" lay-filter="submit2">确认添加</span>
                                        </span>
                                        </button>
                                        <div data-v-1d8dd908="" class="bottom-notice hc-color">
                                            提醒您，请务必使用您本人的实名账户，以免无法正常收款
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--TODO 支付宝 end-->
                            <!-- TODO 微信支付-->
                            <div data-v-606b29c2="" id="tab3" class="el-tab-pane hc-bgColor1 tab-content"
                                 style="padding: 0px 20px;">
                                <form action="" class="layui-form">
                                    <div data-v-1d8dd908="" class="add-bank-card hc-color3">
                                        <div data-v-1d8dd908="" class="row-style el-row"
                                             style="margin-left: -10px; margin-right: -10px;">
                                            <div data-v-1d8dd908="" class="el-col"
                                                 style="padding-left: 10px; padding-right: 10px;">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">姓名</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input is-disabled">
                                                    <input type="text" autocomplete="off" placeholder="" name="username" class="el-input__inner" value="{$user_info['username']}" {if condition="!empty($user_info['username'])"}disabled{/if}>

                                                </div>
                                            </div>
                                        </div> <!---->
                                        <div data-v-1d8dd908="">
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left"></span>
                                                    <span data-v-1d8dd908="" class="title_right">* 提示:只可以添加本人名下账号</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="text" autocomplete="off" placeholder="请填写账号" id="trade_realName" name="weixin_account" class="el-input__inner">
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">二维码</span><span
                                                        data-v-1d8dd908="" class="title_right">* 请上传您的收款二维码图片(* . jpg / * . png / * . jpeg)</span>
                                                </div>
                                                <div data-v-1d8dd908="">
                                                    <div data-v-1d8dd908="" class="upload-demo">
                                                        <button type="button" class="layui-btn" id="weixinImage" style="background: #8275ff">
                                                            上传图片
                                                        </button>
                                                        <input type="hidden" name="weixin_img_code" id="weixin_img_code">
                                                        <div tabindex="0" class="el-upload el-upload--text">
                                                            <div class="el-upload-dragger" style="position: relative">
                                                                <i data-v-469a90da="" class="el-icon-upload"></i>
                                                                <div class="layui-upload-list"
                                                                     style="margin:0;position: absolute; top:0; left: 0; z-index: 10;width: 100%;height: 100% ">
                                                                    <img class="layui-upload-img" id="weixinImageShow"
                                                                         style="width: 100%;height: 100% ">
                                                                    <!--<p id="demoText"></p>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-v-1d8dd908="" class="row-style el-row">
                                                <div data-v-1d8dd908="" class="title clearfix">
                                                    <span data-v-1d8dd908="" class="title_left">资金密码</span>
                                                </div>
                                                <div data-v-1d8dd908="" class="el-input">
                                                    <input type="password"  autocomplete="off"  placeholder="请填写资金密码"   name="weixin_pass" class="el-input__inner">
                                                </div>
                                            </div>
                                        </div>
                                        <button data-v-1d8dd908="" type="button" class="el-button submit el-button--warning">
                                        <span>
                                                       <input type="hidden" name="id" value="{$user_info['id']}">
                                            <input type="hidden" name="type" value="3">
                                            <span data-v-1d8dd908="" lay-submit="" lay-filter="submit3">确认添加</span>
                                        </span>
                                        </button>
                                        <div data-v-1d8dd908="" class="bottom-notice hc-color">
                                            提醒您，请务必使用您本人的实名账户，以免无法正常收款
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--TODO 微信支付end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--TODO 弹出提醒-->
        <div data-v-01fd416c="" data-v-1766f510="" class="el-dialog__wrapper" style="display: none;">
            <div role="dialog" aria-modal="true" aria-label="安全验证" class="el-dialog el-dialog--center"
                 style="margin-top: 15vh; width: 600px;">
                <div class="el-dialog__header"><span class="el-dialog__title">安全验证</span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn"><i
                            class="el-dialog__close el-icon el-icon-close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/static/home/js/jQuery-2.2.3.min.js"></script>
<script src="/static/home/js/tab.js"></script>
<script src="/static/home/layui/layui.js"></script>
<script>
    $('.el-dialog__headerbtn').click(function () {
        $(".el-dialog__wrapper").hide()
    })
    $('.add-mode').click(function () {
        $(".el-dialog__wrapper").fadeIn(500)
    })
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , $ = layui.jquery;

        //删除银行卡
        $('body').on('click','#delBank', function () {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            layer.confirm('您确定要删除吗？', function(index){
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delPaymethod')}",{id:id,type:type},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(res.msg,{time:1000,icon:1});
                        location.reload();
                    }else{
                        layer.msg('操作失败！',{time:1000,icon:2});
                    }
                });
                layer.close(index);
            });
        });

        //删除支付宝
        $('body').on('click','#delAlipay', function () {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            layer.confirm('您确定要删除吗？', function(index){
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delPaymethod')}",{id:id,type:type},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(res.msg,{time:1000,icon:1});
                        location.reload();
                    }else{
                        layer.msg('操作失败！',{time:1000,icon:2});
                    }
                });
                layer.close(index);
            });
        });

        //删除银行卡
        $('body').on('click','#delWeixin', function () {
            var id = $(this).attr('data-id');
            var type = $(this).attr('data-type');
            layer.confirm('您确定要删除吗？', function(index){
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('delPaymethod')}",{id:id,type:type},function(res){
                    layer.close(loading);
                    if(res.code===1){
                        layer.msg(res.msg,{time:1000,icon:1});
                        location.reload();
                    }else{
                        layer.msg('操作失败！',{time:1000,icon:2});
                    }
                });
                layer.close(index);
            });
        });



        //自定义验证规则
        form.verify({
            banknum: function (value) {
                var result = checkbanknum(value);
                if (result != "can") {
                    return result;
                }
            },

        });

        function checkbanknum(id) {
            var _id = id;
            var PReg = /^\d{16}|\d{19}$/;
            if (PReg.test(_id)) {
                return "can"
            }
            return "银行账号格式不正确!"
        }

        form.on('select(province)', function(data) {
            var pid = data.value;
            var loading = layer.load(2, {shade: [0.1, '#fff']});
            $.get("{:url('getRegion2')}?pid=" + pid, function (data) {
                layer.close(loading);
                var html='<option value="">请选择市</option>';
                $.each(data, function (i, value) {
                    html += '<option value="'+value.id+'">'+value.name+'</option>';
                });
                $('#city').html(html);
                form.render()
            });
        });

        //银行卡监听提交
        form.on('submit(submit1)', function (data) {
            var loading = layer.load(2, {shade: [0.1,'#fff']});

            $.post("{:url('personSetSave')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        //支付宝监听提交
        form.on('submit(submit2)', function (data) {
            var loading = layer.load(2, {shade: [0.1,'#fff']});

            $.post("{:url('personSetSave')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });

        //微信监听提交
        form.on('submit(submit3)', function (data) {
            var loading = layer.load(2, {shade: [0.1,'#fff']});

            $.post("{:url('personSetSave')}", data.field, function (res) {
                layer.close(loading);
                if (res.code > 0) {
                    layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                        location.reload();
                    });
                } else {
                    layer.msg(res.msg, {time: 1800, icon: 2});
                }
            });
        });



    });
</script>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        // 普通图片上传
        var uploadInst = upload.render({
            elem: '#aliImage'
            , url: '{:url("Upfiles/upload")}'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#aliImageShow').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    $('#alipay_img_code').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                // var demoText = $('#demoText');
                // demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                // demoText.find('.demo-reload').on('click', function(){
                //     uploadInst.upload();
                // });
            }
        });

        var uploadInst2 = upload.render({
            elem: '#weixinImage'
            , url: '{:url("Upfiles/upload")}'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#weixinImageShow').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    $('#weixin_img_code').val(res.url);
                }else{
                    //如果上传失败
                    return layer.msg('上传失败');
                }
            }
            , error: function () {
                //演示失败状态，并实现重传
                // var demoText = $('#demoText');
                // demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                // demoText.find('.demo-reload').on('click', function(){
                //     uploadInst.upload();
                // });
            }
        });


    });
</script>

</body>
</html>