{include file="common/head"/}
<!--<link rel="stylesheet" href="/static/plugins/orgchart-master/css/font-awesome.min.css">-->
<link rel="stylesheet" href="/static/plugins/orgchart-master/src/css/jquery.orgchart.css">
<!--<link rel="stylesheet" href="css/style.css">-->
<!--<script type="text/javascript" src="/static/plugins/orgchart-master/dist/js/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/plugins/orgchart-master/src/js/jquery.orgchart.js"></script>
<div class="admin-main layui-anim layui-anim-upbit layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>会员接点图</legend>
    </fieldset>


    <div class="demoTable layui-row" >

        <div class="layui-col-md4">
            <div class="layui-inline">
                <a href="#" class="layui-btn layui-btn-normal layui-btn-sm allTree" id="expandAllBtn" data-type="1">返回第一层</a>
                <a href="#" class="layui-btn layui-btn-normal layui-btn-sm allTree" id="resetBtn" data-type="0">返回上一层</a>
            </div>
        </div>

        <div class="layui-col-md3 layui-col-md-offset4">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">
        </div>
        <div class="layui-col-md1">
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
        </div>

    </div>


        <ul id="ul-data">
            <li>Lao Lao
                <ul>
                    <li>Bo Miao</li>
                    <li>Su Miao
                        <ul>
                            <li>Tie Hua</li>
                            <li>Hei Hei
                                <ul>
                                    <li>Pang Pang</li>
                                    <li>Xiang Xiang</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="chart-container"></div>

</div>
{include file="common/foot"/}

<script type="text/javascript">
    layui.use(['form', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;

        $(function() {

            //ajax请求接点
            $.post("{'userContact'}", {'search' : '', 'id' : 0}, function (data) {



            });
            $('#chart-container').orgchart({
                'data' : $('#ul-data'),
                'visibleLevel': 4 //展开几级

            });

        });


    });
</script>
