{include file="common/head"/}
<style>
    .fanzhuan{
        height: 150px;
    }

    .box {
        height: 130px;
        padding: 10px 5px 5px 10px;
    }
    .box .front {
        transform: perspective(500px) rotatey(0deg);
        backface-visibility: hidden;
        transition: transform 1s;
        width: 100%;
        height: 100%;
        background-color: #418bca;
        margin-right: -100%;
        float: left;
        border-radius:5px;
    }
    .box .backface {
        transform: perspective(500px) rotatey(180deg);
        backface-visibility: hidden;
        transition: transform 1s;
        width: 100%;
        height: 100%;
        background-color: #5FB878;
        border-radius:5px;
        cursor:pointer;
    }
    .box:hover .front {
        transform: perspective(500px) rotatey(-180deg);
    }
    .box:hover .backface {
        transform: perspective(500px) rotatey(0deg);
    }

    .icon_index{
        padding-top:30px;
        padding-left:20px;
    }

    .icon_style{
        font-size: 50px;
        color:#F8F8FF;
    }

    .title_index{
        padding-top:10px;
        padding-left:70px;
        font-family: "Roboto", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.1;
        color: #F8F8FF;
    }

</style>

<div class="admin-main layui-anim layui-anim-upbit">

    <div class="layui-fluid">

        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-gray">
                    <i class="layui-icon layui-icon-theme"> 快捷操作</i>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-col-xs4 layui-col-md2 layui-col-sm4 layui-col-lg2  fanzhuan">
                            <div class="box">
                                <div class="front layui-row">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-rate-solid icon_style"></i>
                                    </div>
                                    <div class="layui-inline icon_index">
                                        <h2>{$user_currency_account['cash_currency_num']}</h2>
                                    </div>

                                    <h2 class="title_index">沙特链</h2>

                                </div>
                                <a href="{:url('finance/currencyRecharge')}?id={$user_info['id']}&type=1">
                                <div class="backface cash_currency_num">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-user icon_style"></i>
                                    </div>
                                    <h2 class="title_index">沙特链充值</h2>

                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-md2 layui-col-sm4 layui-col-lg2  fanzhuan">
                            <div class="box">
                                <div class="front">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-cart-simple icon_style"></i>
                                    </div>
                                    <div class="layui-inline icon_index">
                                        <h2>{$user_currency_account['activation_num']}</h2>
                                    </div>

                                    <h2 class="title_index">激活钱包</h2>
                                </div>
                                <a href="{:url('finance/currencyRecharge')}?id={$user_info['id']}&type=2">
                                <div class="backface add_user">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-user icon_style"></i>
                                    </div>
                                    <h2 class="title_index">激活钱包充值</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-md2 layui-col-sm4 layui-col-lg2   fanzhuan">
                            <div class="box">
                                <div class="front">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-cart icon_style"></i>
                                    </div>
                                    <div class="layui-inline icon_index">
                                        <h2>{$user_currency_account['consume_num']}</h2>
                                    </div>

                                    <h2 class="title_index">消费钱包</h2>
                                </div>
                                <a href="{:url('finance/currencyRecharge')}?id={$user_info['id']}&type=3">
                                <div class="backface apply_recharge">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-add-circle icon_style"></i>
                                    </div>

                                    <h2 class="title_index">消费钱包充值</h2>

                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-md2 layui-col-sm4 layui-col-lg2   fanzhuan">
                            <div class="box">


                                <div class="front">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-rmb icon_style"></i>
                                    </div>
                                    <div class="layui-inline icon_index">
                                        <h2>{$user_currency_account['transaction_num']}</h2>
                                    </div>
                                    <h2 class="title_index">交易账户</h2>

                                </div>
                                <a href="{:url('finance/currencyRecharge')}?id={$user_info['id']}&type=4">
                                <div class="backface apply_cash">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-dollar icon_style"></i>
                                    </div>

                                    <h2 class="title_index">交易账户充值</h2>

                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-md2 layui-col-sm4 layui-col-lg2   fanzhuan">
                            <div class="box">


                                <div class="front">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-dollar icon_style"></i>
                                    </div>
                                    <div class="layui-inline icon_index">
                                        <h2>{$user_currency_account['corpus']}</h2>
                                    </div>
                                    <h2 class="title_index">本金账户</h2>

                                </div>
                                <a href="{:url('finance/currencyRecharge')}?id={$user_info['id']}&type=5">
                                <div class="backface apply_cash">
                                    <div class="layui-inline icon_index">
                                        <i class="layui-icon layui-icon-dollar icon_style"></i>
                                    </div>

                                    <h2 class="title_index">本金账户充值</h2>

                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding-top: 20px;">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-gray"><i class="layui-icon layui-icon-list">基本信息</i></div>
                <div class="layui-card-body">
                    <table class="layui-table layuiadmin-page-table" lay-skin="line" style="text-align: left">
                        <tbody>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">会员编号</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['usernum']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">会员姓名</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['username']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">邮箱</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['email']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">邮箱</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['mobile']}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding-top: 20px;">
            <div class="layui-card">
                <div class="layui-card-header layui-bg-gray"><i class="layui-icon layui-icon-list">加盟信息</i></div>
                <div class="layui-card-body">
                    <table class="layui-table layuiadmin-page-table" lay-skin="line" style="text-align: left">
                        <tbody>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">用户级别</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['level_name']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">是否有效会员</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['enabled']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">是否报单中心</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['baodan_center']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">推荐人</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['referee']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">接点人</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['contact_person']}</span></td>
                        </tr>
                        <tr>
                            <td style="width: 35%"><span class="layui-text">所属报单中心</span></td>
                            <td style="width: 65%"><span class="layui-text">{$user_info['baodan_user']}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
{include file="common/foot"/}
<script type="text/javascript" src="/static/plugins/echarts.js"></script>

<script>
    layui.use(['element','layer'], function(){
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        // $(document).on('click','.cash_currency_num',function(){
        //     $.get('{:url("finance/currencyRecharge")}',{'id':id},function (res) {
        //         if (res.status==1) {
        //             tableIn.reload();
        //         }else{
        //             layer.msg(res.msg,{time:1000,icon:2});
        //             return false;
        //         }
        //     })
        //     window.location.href="{:url('')}"
        // });


        // $(function () {
        //     $.post("{:url('index/expenditureAndGeneral')}", {'key': 'key'}, function (data) {
        //
        //         if(data.code == 0){
        //             layer.msg(data.msg,{icon:0});
        //             return;
        //         }
        //         $.each(data.level_chart, function (i, v) {
        //             data1[i] = v.level; //饼状图会员级别名称
        //             data2[i] = {value: v.num, name: v.level}; //饼状图会员各级别数量
        //         });
        //         option2 = {
        //             title: {
        //                 text: '公司收入\/支出\/拨比走势图'
        //             },
        //             tooltip : {
        //                 trigger: 'axis',
        //                 axisPointer: {
        //                     type: 'cross',
        //                     label: {
        //                         backgroundColor: '#6a7985'
        //                     }
        //                 }
        //             },
        //             legend: {
        //                 data:['拨比走势（单位：%）','收入走势（单位：元）','支出走势（单位：元）']
        //             },
        //             toolbox: {
        //                 feature: {
        //                     saveAsImage: {}
        //                 }
        //             },
        //             grid: {
        //                 left: '3%',
        //                 right: '4%',
        //                 bottom: '3%',
        //                 containLabel: true
        //             },
        //             xAxis : [
        //                 {
        //                     type : 'category',
        //                     boundaryGap : false,
        //                     // data : ['周一','周二','周三','周四','周五','周六','周日']
        //                     data : data3
        //                 }
        //             ],
        //             yAxis : [
        //                 {
        //                     type : 'value'
        //                 }
        //             ],
        //             series : [
        //                 {
        //                     name:'全部注册会员数量',
        //                     type:'line',
        //                     stack: '总量',
        //                     areaStyle: {},
        //                     data: data4
        //                 },
        //                 {
        //                     name:'未激活会员数量',
        //                     type:'line',
        //                     stack: '总量',
        //                     areaStyle: {},
        //                     data: data5
        //                 }
        //             ]
        //         };
        //         myChart2.setOption(option2);
        //     });
        // });




    });

</script>



</body>
</html>