{include file="common/head"/}
<link rel="stylesheet" href="/static/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery.ztree.core.js"></script>

<div class="admin-main layui-anim layui-anim-upbit layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>直推架构树</legend>
    </fieldset>
    <div class="demoTable layui-row" >
        <div class="layui-col-md4 layui-col-md-offset7">
            <input class="layui-input" name="key" id="key" placeholder="{:lang('pleaseEnter')}关键字">

        </div>
        <div class="layui-col-md1">
            <button class="layui-btn" id="search" data-type="reload">搜索</button>
        </div>

    </div>
    <hr>
    <p class="layui-hide" id="demoMsg"></p>
    <div class="demoTable layui-row">
        <a href="#" class="layui-btn layui-btn-normal layui-btn-sm allTree" id="expandAllBtn" data-type="1">全部展开</a>
        <a href="#" class="layui-btn layui-btn-normal layui-btn-sm allTree" id="resetBtn" data-type="0">全部折叠</a>
    </div>

    <div class="demoTable layui-row">
        <ul id="treeDemo" class="ztree" style="overflow:auto;"></ul>
    </div>
</div>


{include file="common/foot"/}

<script type="text/javascript">
    layui.use(['form', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;

    });

    var setting = {
        async: {
            enable: true,
            url:"{:url('usertree')}",
            autoParam:["id", "name=n", "level=lv"],
            otherParam:{"otherParam":"zTreeAsyncTest"},
            dataFilter: filter,
            type: "post"
        },
        callback: {
            beforeAsync: beforeAsync,
            onAsyncSuccess: onAsyncSuccess,
            onAsyncError: onAsyncError
        }
    };


    function filter(treeId, parentNode, childNodes) {
        if (!childNodes) return null;
        for (var i=0, l=childNodes.length; i<l; i++) {
            childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
        }
        return childNodes;
    }

    function beforeAsync() {
        curAsyncCount++;
    }

    function onAsyncSuccess(event, treeId, treeNode, msg) {
        curAsyncCount--;
        if (curStatus == "expand") {
            expandNodes(treeNode.children);
        } else if (curStatus == "async") {
            asyncNodes(treeNode.children);
        }

        if (curAsyncCount <= 0) {
            if (curStatus != "init" && curStatus != "") {
                $("#demoMsg").text((curStatus == "expand") ? demoMsg.expandAllOver : demoMsg.asyncAllOver);
                asyncForAll = true;
            }
            curStatus = "";
        }
    }

    function onAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
        curAsyncCount--;

        if (curAsyncCount <= 0) {
            curStatus = "";
            if (treeNode!=null) asyncForAll = true;
        }
    }

    var curStatus = "init", curAsyncCount = 0, asyncForAll = false,
        goAsync = false;
    function expandAll() {
        if (!check()) {
            return;
        }
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        if (asyncForAll) {
            $("#demoMsg").text(demoMsg.expandAll);
            setTimeout(function(){
                zTree.expandAll(true);
            },1000);//延迟加载

            // zTree.expandAll(true);
        } else {
            expandNodes(zTree.getNodes());
            if (!goAsync) {
                $("#demoMsg").text(demoMsg.expandAll);
                curStatus = "";
            }
        }
    }
    function expandNodes(nodes) {
        if (!nodes) return;
        curStatus = "expand";
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        for (var i=0, l=nodes.length; i<l; i++) {
            zTree.expandNode(nodes[i], true, false, false);
            if (nodes[i].isParent && nodes[i].zAsync) {
                expandNodes(nodes[i].children);
            } else {
                goAsync = true;
            }
        }
    }

    function asyncAll() {
        if (!check()) {
            return;
        }
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        if (asyncForAll) {
            $("#demoMsg").text(demoMsg.asyncAll);
        } else {
            asyncNodes(zTree.getNodes());
            if (!goAsync) {
                $("#demoMsg").text(demoMsg.asyncAll);
                curStatus = "";
            }
        }
    }
    function asyncNodes(nodes) {
        if (!nodes) return;
        curStatus = "async";
        var zTree = $.fn.zTree.getZTreeObj("treeDemo");
        for (var i=0, l=nodes.length; i<l; i++) {
            if (nodes[i].isParent && nodes[i].zAsync) {
                asyncNodes(nodes[i].children);
            } else {
                goAsync = true;
                zTree.reAsyncChildNodes(nodes[i], "refresh", true);
            }
        }
    }

    function reset() {
        if (!check()) {
            return;
        }
        asyncForAll = false;
        goAsync = false;
        $("#demoMsg").text("");
        $.fn.zTree.init($("#treeDemo"), setting);
    }

    //搜索
    function search() {
        asyncForAll = false;
        goAsync = false;
        var key = $('#key').val();
        if($.trim(key)==='') {
            layer.msg('请输入用户名',{icon:0});
            return;
        }

        $.post("{:url('usertree')}",{'key' : key},function (data) {
            $.fn.zTree.init($("#treeDemo"), setting,data);
        });
        $('#key').val('');


    }

    function check() {
        if (curAsyncCount > 0) {
            $("#demoMsg").text(demoMsg.async);
            return false;
        }
        return true;
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting);
        $("#expandAllBtn").bind("click", expandAll);
        $("#asyncAllBtn").bind("click", asyncAll);
        $("#resetBtn").bind("click", reset);
        $("#search").bind("click", search);

    });

</script>