<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>行情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/static/mobilenew/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/mobilenew/fonts/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/mobilenew/css/index.css" />
</head>

<body style="background: #eceefa;">
    <div class="mui-login-header mui-index">
        <h1 class="mui-title"><img src="/static/mobilenew/images/tu2.png" alt="" width="50" />热币网</h1>
    </div>
    <div class="mui-content mui-scroll">

        {include file="index/zoushitu"}

            <!--<iframe src="{:url('zoushitu')}" width="100%" height="700"-->
                    <!--frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0">-->

            <!--</iframe>-->

    </div>
    <nav class="mui-bar mui-bar-bottom " >
        <a class="mui-tab-item mui-active" href="{:url('mobile/index/index')}">
            <span class="mui-icon fa fa-line-chart"></span>
            <span class="mui-tab-label">行情</span>
        </a>
        <a class="mui-tab-item" href="{:url('mobile/trade/index')}">
            <span class="mui-icon fa fa-bitcoin" ></span>
            <span class="mui-tab-label">交易大厅</span>
        </a>

        <a class="mui-tab-item" href="{:url('mobile/wallet/index')}">
            <span class="mui-icon fa fa-archive" ></span>
            <span class="mui-tab-label">我的资产</span>
        </a>
        <a class="mui-tab-item" href="{:url('mobile/user/index')}">
            <span class="mui-icon fa fa-user" ></span>
            <span class="mui-tab-label">个人中心</span>
        </a>
    </nav>
<script src="/static/mobilenew/js/mui.min.js"></script>
<script src="/static/mobilenew/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/index.js" type="text/javascript" charset="utf-8"></script>


<script>
    mui.init();

</script>

</body>

</html>
