<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="css/mui.min.css">
    <link href="/static/mobilenew/css/mui.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/mobilenew/css/index.css">
    <style type="text/css">
        html,body{height: 100%;}
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left mui-text-bai" href="javascript:;"></a>
    <h1 class="mui-title mui-text-bai">虚拟币实时数据</h1>
</header>

<iframe height="100%" width="100%" style="width: 100%; height: 100%;" src="https://tvc-cncdn.investing.com/tool/1.12.8/tool-prod-2-ssl.html?carrier=5c5d5133ccbd1d199014274594694fac&time=1556242972&domain_ID=6&lang_ID=6&timezone_ID=24&version=1.12.8&locale=zh&timezone=Asia/Shanghai&pair_ID=1064502&interval=5&session=24x7&prefix=cn&suffix=_cn_jp&client=0&user=&plotStyle=heiken_ashi&geoc=CN&styleOverride="></iframe>

<script src="/static/mobilenew/js/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/mui.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobilenew/js/swiper-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>