<html class="lightTheme cn" lang="zh-Hans" dir="ltr"><head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://i-invdn-com.akamaized.net/invwidgets/css/topCryptocurrenciesMin_v4d.css">
    <!-- viewport settings -->
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/jquery-1.9.1.min.js"></script>
    <script src="https://i-invdn-com.akamaized.net/invwidgets/js/general.js"></script>
    <script>
        window.siteData = {
            numeric_format: 'us'
        }
    </script>

    <title>热门加密货币行情</title>
    <link rel="stylesheet" href="https://i-invdn-com.akamaized.net/crypto_icons/v_132772_cryptoIcon10.css">

</head>
<body marginwidth="0" marginheight="0">

<div class="siteWrapper" id="siteWrapper">
    <header class="">

        <div class="widgetTitle">热门加密货币行情</div>
    </header>

    <main class="respTbl">
        <section>
            <article class="headerRow">
                <div class="hiddenOne js-col-order">#</div>
                <div class="cryptoIconDiv js-col-icon"></div>
                <div class="left instName js-col-pair_name">名称</div>
                <div class="cryptoSymbol js-col-symbol">符号</div>
                <div class="hiddenOne js-col-priceUsd">价格 (美元)</div>
                <div class="hiddenOne js-col-marketCap">市值</div>
                <div class="hiddenOne js-col-vol24 hideItem481">成交量(24H)</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">交易份额</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">价格 (比特币)</div>
                <div class="change js-col-chg24">涨跌(24H)</div>

            </article>
            <article id="pair_bitcoin">
                <div class="hiddenOne js-col-order">1</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_bitcoin"></span></div>
                <div class="js-col-pair_name left instName" main-value="5,539.8"><a href="{:url('btc')}">比特币</a></div>
                <div class="cryptoSymbol js-col-symbol">BTC</div>
                <div class="hiddenOne js-col-priceUsd  pid-1057391-last redBg">5,541.6</div>
                <div class="hiddenOne js-col-marketCap">$98.63B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$16.20B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">31.09%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">1</div>
                <div class="change js-col-chg24 pid-1057391-pcp greenFont">+3.04%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+6.58%</div>
            </article>
            <article id="pair_ethereum">
                <div class="hiddenOne js-col-order">2</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_ethereum"></span></div>
                <div class="js-col-pair_name left instName" main-value="168.99"><a href="{:url('eth')}">以太坊</a></div>
                <div class="cryptoSymbol js-col-symbol">ETH</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061443-last">168.94</div>
                <div class="hiddenOne js-col-marketCap">$17.99B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$7.15B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">13.71%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.0305739</div>
                <div class="change js-col-chg24 pid-1061443-pcp redFont">-1.49%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+1.80%</div>
            </article>
            <article id="pair_ripple">
                <div class="hiddenOne js-col-order">3</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_ripple"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.31887"><a href="{:url('xrp')}">瑞波币</a></div>
                <div class="cryptoSymbol js-col-symbol">XRP</div>
                <div class="hiddenOne js-col-priceUsd  pid-1057392-last">0.31868</div>
                <div class="hiddenOne js-col-marketCap">$13.46B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$1.11B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">2.14%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00005758</div>
                <div class="change js-col-chg24 pid-1057392-pcp redFont">-1.37%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-1.50%</div>
            </article>
            <article id="pair_bitcoin-cash">
                <div class="hiddenOne js-col-order">4</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_bitcoin-cash"></span></div>
                <div class="js-col-pair_name left instName" main-value="286.45"><a href="{:url('bch')}">比特币现金</a></div>
                <div class="cryptoSymbol js-col-symbol">BCH</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061410-last greenBg">286.29</div>
                <div class="hiddenOne js-col-marketCap">$5.13B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$1.54B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">2.95%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.051943</div>
                <div class="change js-col-chg24 pid-1061410-pcp redFont">-1.94%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-8.44%</div>
            </article>
            <article id="pair_eos">
                <div class="hiddenOne js-col-order">5</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_eos"></span></div>
                <div class="js-col-pair_name left instName" main-value="5.1061"><a href="{:url('eos')}">EOS</a></div>
                <div class="cryptoSymbol js-col-symbol">EOS</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061444-last redBg">5.1110</div>
                <div class="hiddenOne js-col-marketCap">$4.86B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$2.28B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">4.37%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00092603</div>
                <div class="change js-col-chg24 pid-1061444-pcp redFont">-2.32%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-6.40%</div>
            </article>
            <article id="pair_litecoin">
                <div class="hiddenOne js-col-order">6</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_litecoin"></span></div>
                <div class="js-col-pair_name left instName" main-value="73.069"><a href="{:url('ltc')}">莱特币</a></div>
                <div class="cryptoSymbol js-col-symbol">LTC</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061445-last">73.225</div>
                <div class="hiddenOne js-col-marketCap">$4.53B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$3.10B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">5.94%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.0132592</div>
                <div class="change js-col-chg24 pid-1061445-pcp redFont">-5.05%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-8.81%</div>
            </article>
            <article id="pair_binance-coin">
                <div class="hiddenOne js-col-order">7</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_binance-coin"></span></div>
                <div class="js-col-pair_name left instName" main-value="22.3755"><a href="javascript:;" target="_blank">币安币</a></div>
                <div class="cryptoSymbol js-col-symbol">BNB</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061448-last">22.5029</div>
                <div class="hiddenOne js-col-marketCap">$3.19B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$265.07M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0.51%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00405744</div>
                <div class="change js-col-chg24 pid-1061448-pcp redFont">-5.80%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+14.39%</div>
            </article>
            <article id="pair_tether">
                <div class="hiddenOne js-col-order">8</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_tether"></span></div>
                <div class="js-col-pair_name left instName" main-value="1.00911"><a href="javascript:;" target="_blank">泰达币</a></div>
                <div class="cryptoSymbol js-col-symbol">USDT</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061453-last">1.00932</div>
                <div class="hiddenOne js-col-marketCap">$2.70B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$14.04B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">26.94%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00018114</div>
                <div class="change js-col-chg24 pid-1061453-pcp greenFont">+0.13%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-0.14%</div>
            </article>
            <article id="pair_tatatu">
                <div class="hiddenOne js-col-order">9</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_tatatu"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.25">TaTaTu</div>
                <div class="cryptoSymbol js-col-symbol">TTU</div>
                <div class="hiddenOne js-col-priceUsd  pid--last">0.25</div>
                <div class="hiddenOne js-col-marketCap">$2.50B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$11.60M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0</div>
                <div class="change js-col-chg24 greenFont pid--pcp">0%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">0%</div>
            </article>
            <article id="pair_stellar">
                <div class="hiddenOne js-col-order">10</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_stellar"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.10749"><a href="{:url('xlm')}">恒星币</a></div>
                <div class="cryptoSymbol js-col-symbol">XLM</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061451-last greenBg">0.10748</div>
                <div class="hiddenOne js-col-marketCap">$2.11B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$251.85M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0.48%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00001957</div>
                <div class="change js-col-chg24 pid-1061451-pcp redFont">-4.86%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-6.07%</div>
            </article>
        </section>
    </main>
    <footer class="footerWrapper ">


        <div class="bannerWrap" id="ads_div"></div>
    </footer>
</div> <!-- siteWrapper -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2555300-97', 'auto', {'name': 'webmasterToolsWidgetsTracker'});
    ga('webmasterToolsWidgetsTracker.set', 'dimension1', 'cn.investing.com');
    ga('webmasterToolsWidgetsTracker.set', 'dimension2', 'TOP_CRYPTOCURRENCIES');
    ga('webmasterToolsWidgetsTracker.send', 'pageview');
</script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/sockjs.min.js"></script>
<script type="text/javascript">stream="https://stream188.forexpros.com:443";</script>
<script type="text/javascript">window.timezoneOffset = 28800;</script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/utils.js"></script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/fxindex.js"></script>
<script type="text/javascript">
    var pid_arr = ["pid-1057391:","pid-1061443:","pid-1057392:","pid-1061410:","pid-1061444:","pid-1061445:","pid-1061448:","pid-1061453:","pid-:","pid-1061451:"];
    var TimeZoneID = 28;
</script>
<script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/internal-components/dest/fronter.min.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/components/sockjs/sockjs.min.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/binds/app-config.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/services/debounce.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/services/general-overlay.js"></script><script>typeof(fronter) !== "undefined" && $(document).ready(fronter.$apply);</script>


</body></html>