<html class="darkTheme cn" lang="zh-Hans" dir="ltr"><head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://i-invdn-com.akamaized.net/invwidgets/css/topCryptocurrenciesMin_v4d.css">
    <!-- viewport settings -->
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/jquery-1.9.1.min.js"></script>
    <script src="https://i-invdn-com.akamaized.net/invwidgets/js/general.js"></script>
    <script>
        window.siteData = {
            numeric_format: 'us'
        }
    </script>

    <title>热门加密货币行情</title>
    <link rel="stylesheet" href="https://i-invdn-com.akamaized.net/crypto_icons/v_129723_cryptoIcon10.css">

</head>
<body marginwidth="0" marginheight="0">

<div class="siteWrapper" id="siteWrapper">

    <main class="respTbl">
        <section>
            <article class="headerRow">
                <div class="hiddenOne js-col-order">#</div>
                <div class="cryptoIconDiv js-col-icon"></div>
                <div class="left instName js-col-pair_name">名称</div>
                <div class="cryptoSymbol js-col-symbol">符号</div>
                <div class="hiddenOne js-col-priceUsd">价格 (美元)</div>
                <div class="hiddenOne js-col-marketCap">市值</div>
                <div class="hiddenOne js-col-vol24 hideItem481">成交量(24H)</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">交易份额</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">价格 (比特币)</div>
                <div class="change js-col-chg24">涨跌(24H)</div>
                <div class="change hideItem320 js-col-chg7">涨跌(7日)</div>
            </article>
            <article id="pair_bitcoin">
                <div class="hiddenOne js-col-order">1</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_bitcoin"></span></div>
                <div class="js-col-pair_name left instName" main-value="5,084.2"><a href="#">比特币</a></div>
                <div class="cryptoSymbol js-col-symbol">BTC</div>
                <div class="hiddenOne js-col-priceUsd  pid-1057391-last redBg">5,081.1</div>
                <div class="hiddenOne js-col-marketCap">$90.26B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$12.63B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">29.38%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">1</div>
                <div class="change js-col-chg24 pid-1057391-pcp greenFont">+1.83%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+2.01%</div>
            </article>
            <article id="pair_ethereum">
                <div class="hiddenOne js-col-order">2</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_ethereum"></span></div>
                <div class="js-col-pair_name left instName" main-value="164.68"><a href="#">以太坊</a></div>
                <div class="cryptoSymbol js-col-symbol">ETH</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061443-last redBg">164.65</div>
                <div class="hiddenOne js-col-marketCap">$17.51B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$5.74B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">13.36%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.0324695</div>
                <div class="change js-col-chg24 pid-1061443-pcp greenFont">+0.75%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+1.08%</div>
            </article>
            <article id="pair_ripple">
                <div class="hiddenOne js-col-order">3</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_ripple"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.32978"><a href="#">瑞波币</a></div>
                <div class="cryptoSymbol js-col-symbol">XRP</div>
                <div class="hiddenOne js-col-priceUsd  pid-1057392-last redBg">0.33012</div>
                <div class="hiddenOne js-col-marketCap">$13.82B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$1.04B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">2.43%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00006477</div>
                <div class="change js-col-chg24 pid-1057392-pcp greenFont">+2.78%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-7.53%</div>
            </article>
            <article id="pair_bitcoin-cash">
                <div class="hiddenOne js-col-order">4</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_bitcoin-cash"></span></div>
                <div class="js-col-pair_name left instName" main-value="278.54"><a href="#">比特币现金</a></div>
                <div class="cryptoSymbol js-col-symbol">BCH</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061410-last redBg">278.27</div>
                <div class="hiddenOne js-col-marketCap">$4.98B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$1.32B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">3.07%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.0550786</div>
                <div class="change js-col-chg24 pid-1061410-pcp greenFont">+4.21%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-2.66%</div>
            </article>
            <article id="pair_litecoin">
                <div class="hiddenOne js-col-order">5</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_litecoin"></span></div>
                <div class="js-col-pair_name left instName" main-value="79.851"><a href="#">莱特币</a></div>
                <div class="cryptoSymbol js-col-symbol">LTC</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061445-last redBg">79.862</div>
                <div class="hiddenOne js-col-marketCap">$4.89B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$2.66B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">6.20%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.0156373</div>
                <div class="change js-col-chg24 pid-1061445-pcp greenFont">+2.80%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-8.78%</div>
            </article>
            <article id="pair_eos">
                <div class="hiddenOne js-col-order">6</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_eos"></span></div>
                <div class="js-col-pair_name left instName" main-value="5.3667"><a href="#">EOS</a></div>
                <div class="cryptoSymbol js-col-symbol">EOS</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061444-last redBg">5.3646</div>
                <div class="hiddenOne js-col-marketCap">$4.89B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$2.20B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">5.11%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00105791</div>
                <div class="change js-col-chg24 pid-1061444-pcp greenFont">+1.90%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+2.05%</div>
            </article>
            <article id="pair_binance-coin">
                <div class="hiddenOne js-col-order">7</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_binance-coin"></span></div>
                <div class="js-col-pair_name left instName" main-value="18.3155"><a href="#" target="_blank">币安币</a></div>
                <div class="cryptoSymbol js-col-symbol">BNB</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061448-last">18.3614</div>
                <div class="hiddenOne js-col-marketCap">$2.60B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$175.69M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0.41%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00360801</div>
                <div class="change js-col-chg24 pid-1061448-pcp greenFont">+7.11%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-4.32%</div>
            </article>
            <article id="pair_tatatu">
                <div class="hiddenOne js-col-order">8</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_tatatu"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.25">TaTaTu</div>
                <div class="cryptoSymbol js-col-symbol">TTU</div>
                <div class="hiddenOne js-col-priceUsd  pid--last">0.25</div>
                <div class="hiddenOne js-col-marketCap">$2.50B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$11.60M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0</div>
                <div class="change js-col-chg24 greenFont pid--pcp">0%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">0%</div>
            </article>
            <article id="pair_tether">
                <div class="hiddenOne js-col-order">9</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_tether"></span></div>
                <div class="js-col-pair_name left instName" main-value="1.00696"><a href="#">泰达币</a></div>
                <div class="cryptoSymbol js-col-symbol">USDT</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061453-last">1.00695</div>
                <div class="hiddenOne js-col-marketCap">$2.42B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$12.28B</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">28.57%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00019717</div>
                <div class="change js-col-chg24 pid-1061453-pcp greenFont">+0.08%</div>
                <div class="change hideItem320 js-col-chg7 greenFont">+0.07%</div>
            </article>
            <article id="pair_stellar">
                <div class="hiddenOne js-col-order">10</div>
                <div class="cryptoIconDiv js-col-icon"><span class="cryptoIcon c_stellar"></span></div>
                <div class="js-col-pair_name left instName" main-value="0.11560"><a href="#">恒星币</a></div>
                <div class="cryptoSymbol js-col-symbol">XLM</div>
                <div class="hiddenOne js-col-priceUsd  pid-1061451-last">0.11531</div>
                <div class="hiddenOne js-col-marketCap">$2.25B</div>
                <div class="hiddenOne js-col-vol24 hideItem481">$297.56M</div>
                <div class="hiddenOne hideItem481 js-col-totalVol">0.69%</div>
                <div class="hiddenOne hiddenOne--none768 hideItem481 js-col-priceBtc">0.00002288</div>
                <div class="change js-col-chg24 pid-1061451-pcp greenFont">+2.74%</div>
                <div class="change hideItem320 js-col-chg7 redFont">-6.39%</div>
            </article>
        </section>
    </main>
    <footer class="footerWrapper ">


        <div class="bannerWrap" id="ads_div"></div>
    </footer>
</div> <!-- siteWrapper -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2555300-97', 'auto', {'name': 'webmasterToolsWidgetsTracker'});
    ga('webmasterToolsWidgetsTracker.set', 'dimension1', 'cn.investing.com');
    ga('webmasterToolsWidgetsTracker.set', 'dimension2', 'TOP_CRYPTOCURRENCIES');
    ga('webmasterToolsWidgetsTracker.send', 'pageview');
</script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/sockjs.min.js"></script>
<script type="text/javascript">stream="https://stream187.forexpros.com:443";</script>
<script type="text/javascript">window.timezoneOffset = 28800;</script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/utils.js"></script>
<script type="text/javascript" src="https://i-invdn-com.akamaized.net/invwidgets/js/fxindex.js"></script>
<script type="text/javascript">
    var pid_arr = ["pid-1057391:","pid-1061443:","pid-1057392:","pid-1061410:","pid-1061445:","pid-1061444:","pid-1061448:","pid-:","pid-1061453:","pid-1061451:"];
    var TimeZoneID = 28;
</script>
<script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/internal-components/dest/fronter.min.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/components/sockjs/sockjs.min.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/binds/app-config.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/services/debounce.js"></script><script src="https://i-invdn-com.akamaized.net/invwidgets/js/89c0ab7319/modules/core/services/general-overlay.js"></script><script>typeof(fronter) !== "undefined" && $(document).ready(fronter.$apply);</script>


</body></html>
